.main-container {
  background: var(--color-white);
  width: calc(100% - 270px);
  margin-left: 270px;
  transition: all ease 500ms;
  min-height: 100vh;
}

.main-container.maximized {
  width: calc(100% - 110px);
}

.dashboard {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-inline: 3rem;
}

@media screen and (max-width: 1000px) {
  .main-container {
    margin-left: 110px !important;
    width: calc(100% - 110px) !important;
  }
}

@media screen and (max-width: 674px) {
  .main-container {
    margin-left: 0 !important;
    width: 100% !important;
  }

  .dashboard{
    padding: 2rem;
  }
}
