<title-page pageText="Clientes"></title-page>

<card-table>
  <div *ngIf="isLoading; else showTable">
    <p class="loading">Carregando...</p>
  </div>
  <ng-template #showTable>
    <div *ngIf="users.length > 0; else noUsers">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Role</th>
            <th>Last Login</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role?.name }}</td>
            <td *ngIf="user.last_login_at; else noLogin">
              {{ user.last_login_at }}
            </td>
            <td>
              <button (click)="showUser(user.id)">Detalhes</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</ng-template>
</card-table>

<ng-template #noLogin>
  <td>Nunca fez login</td>
</ng-template>

<ng-template #noUsers>
  <p class="no-users">Nenhum usuário encontrado.</p>
</ng-template>

