<div class="page-info-action">
  <div class="page-info">
    <title-page pageText="Lista de Clientes"></title-page>
    <p class="description-page">Esta lista apresenta todos os 
      clientes associados ao <span>Padel Connect</span>
    </p>
  </div>
</div>

<card-table>
  <div *ngIf="isLoading; else showTable" class="loading-screen">
    <div class="spinner"></div>
    <p class="loading">A carregar a lista de clientes, por favor aguarde ...</p>
  </div>
  <ng-template #showTable>
    <div *ngIf="users.length > 0; else noUsers">
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th class="left">Nome</th>
              <th class="left">Email</th>
              <th class="middle">Role</th>
              <th class="left">Último Login</th>
              <th class="middle">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td data-cell="Username" class="left">{{ user.username }}</td>
              <td data-cell="Email" class="left">{{ user.email }}</td>
              <td data-cell="Name" class="middle">{{ user.role?.name }}</td>
              <td *ngIf="user.last_login_at; else noLogin" data-cell="Lastlogin" class="left">
                {{ user.last_login_at }}
              </td>
              <td data-cell="Ações" class="middle">
                <div class="actions">
                  <div class="tooltip">
                    <i class='ri-more-2-fill' [routerLink]="['/dashboard/customer', user.id]"></i>
                    <span class="tooltip-text">Detalhes</span>
                  </div>
                  <div class="tooltip">
                    <i class='ri-edit-line' [routerLink]="['/dashboard/customer', user.id, 'edit']"></i>
                    <span class="tooltip-text">Editar</span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</ng-template>
</card-table>

<ng-template #noLogin>
  <td data-cell="Último Login">Nunca fez login</td>
</ng-template>

<ng-template #noUsers>
  <p class="no-users">Nenhum usuário encontrado.</p>
</ng-template>

