.no-users {
  font-size: 1.1rem;
  color: var(--color-danger);
}

@media screen and (max-width: 1055px) {
  .no-users {
    font-size: 1.1rem;
    color: var(--color-danger);
    background: var(--color-white);
    border-radius: var(--border-radius-2);
    padding: var(--card-padding);
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
  }
}
