<div class="page-info-action">
  <div class="page-info">
    <title-page pageText="Listagem de Campos"></title-page>
    <p class="description-page">Esta lista apresenta todos os 
      clientes associados ao <span>Padel Connect</span>
    </p>
  </div>
</div>

<card-table>
  <div *ngIf="isLoading; else showTable" class="loading-screen">
    <div class="spinner"></div>
    <p class="loading">A carregar a lista de clientes, por favor aguarde ...</p>
  </div>
  <ng-template #showTable>
    <div *ngIf="users.length > 0; else noUsers">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Role</th>
            <th>Último Login</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td data-cell="Username">{{ user.username }}</td>
            <td data-cell="Email">{{ user.email }}</td>
            <td data-cell="Name">{{ user.role?.name }}</td>
            <td *ngIf="user.last_login_at; else noLogin" data-cell="Lastlogin">
              {{ user.last_login_at }}
            </td>
            <td data-cell="Ações">
              <div class="actions">
                <i class='bx bx-show' [routerLink]="['/dashboard/customer', user.id]"></i>
                <i class='bx bx-pencil' [routerLink]="['/dashboard/customer', user.id, 'edit']"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</ng-template>
</card-table>

<ng-template #noLogin>
  <td data-cell="Último Login">Nunca fez login</td>
</ng-template>

<ng-template #noUsers>
  <p class="no-users">Nenhum usuário encontrado.</p>
</ng-template>

