<div class="page-info-title">
  <div class="page-action">
    <button type="submit" class="btn-round back" [routerLink]="['/dashboard/companies']">
      <i class="ri-arrow-left-line"></i>
    </button>
  </div>
  <div class="page-info">
    <title-page pageText="Dados da empresa"></title-page>
    <p class="description-page">Bem vindo á página da empresa 
      <span>{{ companyObj.name }}</span>, 
      aqui pode visualizar todos os dados desta empresa.
    </p>
  </div>
</div>

<title-page pageText=""></title-page>

<card-form>
  <form class="form">

    <div class="small-large">
      
      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-fingerprint-line"></i>
            <p>NIF</p>
          </div>
          <div class="input-container">
            <input type="number" name="nif" [(ngModel)]="companyObj.nif" readonly>
          </div>
        </div>
      </div>


      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-phone-line"></i>
            <p>Contacto</p>
          </div>
          <div class="input-container">
            <input type="number" name="contact" [(ngModel)]="companyObj.contact" readonly>
          </div>
        </div>
      </div>

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-hotel-line"></i>
            <p>Nome</p>
          </div>
          <div class="input-container">
            <input type="text" name="name" [(ngModel)]="companyObj.name" readonly>
          </div>
        </div>
      </div>

    </div>

    <div class="complete">

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-mail-line"></i>
            <p>Email</p>
          </div>
          <div class="input-container">
            <input type="text" name="email" [(ngModel)]="companyObj.email" readonly>
          </div>
        </div>
      </div>

    </div>

    <div class="large-small">

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-home-4-line"></i>
            <p>Endereço e Porta</p>
          </div>
          <div class="input-container">
            <input type="text" name="addressPort" [(ngModel)]="addressObj.addressPort" readonly>
          </div>
        </div>
      </div>

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-signpost-line"></i>
            <p>Localidade</p>
          </div>
          <div class="input-container">
            <input type="text" name="locality" [(ngModel)]="addressObj.locality" readonly>
          </div>
        </div>
      </div>

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-map-pin-2-line"></i>
            <p>Código Postal</p>
          </div>
          <div class="input-container">
            <input type="text" name="postalCode" [(ngModel)]="addressObj.postalCode" readonly>
          </div>
        </div>
      </div>

    </div>

    <div class="button">
      <button class="btn edit" [routerLink]="['/dashboard/company', company_id, 'edit']">
        <i class="ri-edit-line"></i>
        Editar {{ companyObj.name }}
      </button>
      <form method="post" (ngSubmit)="deleteCompany($event)">
        <button type="submit" class="btn delete">
          <i class="ri-delete-bin-2-line"></i>
          Eliminar {{ companyObj.name }}
        </button>
      </form>
    </div>
    
  </form>
</card-form>


