<title-page pageText="{{ companyObj.name }}"></title-page>

<card-form>
  <form class="form">

    <div class="small-large">

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class='bx bx-id-card' ></i>
            <p>NIF</p>
          </div>
          <div class="input-container">
            <input type="number" name="nif" [(ngModel)]="companyObj.nif" readonly>
          </div>
        </div>
      </div>


      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class='bx bx-phone' ></i>
            <p>Contacto</p>
          </div>
          <div class="input-container">
            <input type="number" name="contact" [(ngModel)]="companyObj.contact" readonly>
          </div>
        </div>
      </div>

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class='bx bx-buildings' ></i>
            <p>Nome</p>
          </div>
          <div class="input-container">
            <input type="text" name="name" [(ngModel)]="companyObj.name" readonly>
          </div>
        </div>
      </div>

    </div>

    <div class="complete">

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class='bx bx-envelope' ></i>
            <p>Email</p>
          </div>
          <div class="input-container">
            <input type="text" name="email" [(ngModel)]="companyObj.email" readonly>
          </div>
        </div>
      </div>

    </div>

    <div class="large-small">

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class='bx bx-home'></i>
            <p>Endereço e Porta</p>
          </div>
          <div class="input-container">
            <input type="text" name="addressPort" [(ngModel)]="addressObj.addressPort" readonly>
          </div>
        </div>
      </div>

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class='bx bx-map'></i>
            <p>Localidade</p>
          </div>
          <div class="input-container">
            <input type="text" name="postalCode" [(ngModel)]="addressObj.locality" readonly>
          </div>
        </div>
      </div>

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class='bx bx-fingerprint'></i>
            <p>Código Postal</p>
          </div>
          <div class="input-container">
            <input type="text" name="locality" [(ngModel)]="addressObj.postalCode" readonly>
          </div>
        </div>
      </div>


    </div>

    <div class="button">
      <button class="btn back" [routerLink]="'/dashboard/companies'">
        <i class='bx bx-left-arrow-alt'></i>
        Voltar atrás
      </button>

      <button class="btn edit" [routerLink]="['/dashboard/company', company_id, 'edit']">
        <i class='bx bx-pencil'></i>
        Editar
      </button>


      <form method="post" (ngSubmit)="deleteCompany($event)">
        <button type="submit" class="btn delete">
          <i class='bx bx-trash'></i>
          Eliminar
        </button>
      </form>
    </div>
  </form>
</card-form>


