<!-- <div class="page-top">
  <div class="header">
      <div class="title-header">
          <h1>Sobre nós</h1>
          <small><span>Home</span> / <span>Pages</span> / Sobre nós</small>
      </div>
  </div>
</div> -->

<app-page-top title="Sobre nós"></app-page-top>

<div class="main-content">
  <div class="block-1 animated">
    <div class="block-title">
      <h1>LOREM IPSUM IS SIMPLY DUMMY</h1>
    </div>
<div class="block-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        ullamco laboris nisi ut aliquip ex ea commodo consequat
    </p>
</div>
</div>
<div class="block-2 animated">
<div class="left-column">
  <img src="assets/images/about/renith-r-A9VpotrPr1k-unsplash.jpg" class="block-2-img animated">

    <img src="assets/images/about/renith-r-A9VpotrPr1k-unsplash.jpg"
        class="block-2-img second animated">
</div>
<div class="right-column animated">
    <div class="block-title">
        <h1>Sobre nós</h1>
    </div>
    <div class="block-text">
        <div class="text animated">
            <p>Padel Connect é uma empresa que tem como objetivo conectar jogadores de padel com os melhores campos do país.
                Nossa missão é proporcionar a melhor experiência para os jogadores, oferecendo os melhores campos,
                com a melhor infraestrutura e com a melhor localização.
            </p>
        </div>
        <div class="text animated">
            <p>
                Padel Connect é uma empresa que tem como objetivo conectar jogadores de padel com os melhores campos do país.
                Nossa missão é proporcionar a melhor experiência para os jogadores, oferecendo os melhores campos,
                com a melhor infraestrutura e com a melhor localização.
            </p>
        </div>
    </div>
</div>
</div>
<div class="block-3">
<div class="slide-track">
  <div class="slide">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
  </div>
  <div class="slide">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
  </div>
  <div class="slide">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
  </div>
  <div class="slide">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
  </div>
  <div class="slide">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
  </div>
  <div class="slide">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
  </div>
  <div class="slide">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
  </div>
  <div class="slide">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
  </div>
  <div class="slide">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
  </div>
  <div class="slide">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
  </div>
  <div class="slide">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
  </div>
  <div class="slide">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
  </div>
  <div class="slide">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
  </div>
  <div class="slide">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
  </div>
</div>
</div>
</div>
