<div class="page-info-action">
  <div class="page-info">
      <title-page pageText="Listagem de Reservas"></title-page>
      <p class="description-page">Aqui pode ver todas as reservas associadas ao
          <span>Padel Connect</span>
      </p>
  </div>
  <div class="button-add-container" *ngIf="isAdmin">
    <a class="cancellations-button" [routerLink]="['/dashboard/cancellations']">
      <i class="ri-close-circle-line"></i>
    </a>
  </div>
</div>

<div *ngIf="isLoading; else showReservation" class="loading-screen">
  <div class="spinner"></div>
  <p class="loading">A carregar a lista de reservas, por favor aguarde ...</p>
</div>


<ng-template #showReservation>
  <div *ngIf="reservations.length > 0; else noReservations">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th class="left" *ngIf="isAdmin">Utilizador</th>
            <th class="left">Campo</th>
            <th class="middle">Total</th>
            <th class="left">Inicio Reserva</th>
            <th class="left">Fim Reserva</th>
            <th class="middle">Estado</th>
            <th class="middle">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reservation of reservations">
            <td data-cell="Utilizador" class="left" *ngIf="isAdmin">
              <div class="tooltip">
                <a class="user" [routerLink]="['/dashboard/customer', reservation.user?.id]">
                  {{ reservation.user?.username }}
                </a>
                <span class="tooltip-text">Visualizar utilizador</span>
              </div>
            </td>
            <td data-cell="Campo" class="left">
              <div class="tooltip">
              <a class="court" [routerLink]="['/dashboard/court', reservation.fields[0]?.id]">
                {{ reservation.fields[0]?.name }}
              </a>
              <span class="tooltip-text">Visualizar Campo</span>
              </div>
            </td>
            <td data-cell="Total" class="middle"> {{ reservation.total }}€</td>
            <td data-cell="Inicio Reserva" class="left date">
              <span class="reservation-start">
                <div>
                  <i class="ri-calendar-line"></i> {{ reservation.start_date.split(' ')[0] }}
                </div>
                <div>
                  <i class="ri-time-line"></i> {{ reservation.start_date.split(' ')[1] }}
                </div>
              </span>
            </td>
            <td data-cell="Fim Reserva" class="left date">
              <span class="reservation-end">
                <div>
                  <i class="ri-calendar-line"></i> {{ reservation.end_date.split(' ')[0] }}
                </div>
                <div>
                  <i class="ri-time-line"></i> {{ reservation.end_date.split(' ')[1] }}
                </div>
              </span>
            </td>
            <td data-cell="Estado" class="middle">
              <div class="status-wrapper">
                <div [ngClass]="{
                    'status-disponivel': reservation.status === 'Concluída',
                    'status-inativo': reservation.status === 'pendente',
                    'status-occupied': reservation.status === 'Cancelada'
                  }">
                  {{ reservation?.status }}
                </div>
              </div>
            </td>
            <td data-cell="Ações" class="middle">
              <div class="actions">
                <div class="tooltip">
                  <i class='ri-delete-bin-2-line' (click)="openModal(reservation)"></i>
                  <span class="tooltip-text">Eliminar</span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</ng-template>

<ng-template #noReservations>
  <p class="no-reservations">Não existe nenhuma reserva</p>
</ng-template>

<div *ngIf="showModal" class="modal-overlay">
  <div class="modal">
    <div class="top-modal">
      <h2>Confirmar Cancelamento</h2>
      <i class='bx bx-x' (click)="closeModal()"></i>
    </div>
    <p>Tem certeza de que deseja cancelar a reserva de {{ selectedReservation?.user?.username }}?</p>

    <form (ngSubmit)="submitCancel()">
      <div class="form-group">
        <label for="reason">Motivo do Cancelamento (opcional)</label>
        <textarea
          id="reason"
          [(ngModel)]="cancelReason"
          name="reason"
          rows="3"
          placeholder="Escreva o motivo, se necessário"
          rows="10"
          cols="30"
        ></textarea>
      </div>
      <div class="modal-actions">
        <button type="submit" class="btn btn-primary">Confirmar</button>
      </div>
    </form>
  </div>
</div>

