<section id="slide-show">
  <div class="container">
    <h2 class="text-center section-heading">Campos com melhor avaliação</h2>
    <p class="text-center section-subheading">Na PadelConnect, destacamos os campos com melhor avaliação, conhecidos pela sua excelente infraestrutura e localização estratégica.</p>
  </div>

  <div class="container">
    <div class="swiper slide-show-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let court of courts">
          <a [routerLink]="['/court', court.id]" class="slide-link">
            <div class="slide-img">
              <img [src]="getCourtImage(court.file_path)" [alt]="court.name">
            </div>
            <div class="slide-content-bottom">
              <h3 class="field-name">{{ court.name }}</h3>
              <h3 class="field-rating">
                <span>{{ court.company.address }}</span>
              </h3>
            </div>
          </a>
        </div>
      </div>

      <!-- Navegação -->
      <div class="tranding-slider-control">
        <div class="swiper-button-prev slider-arrow"></div>
        <div class="swiper-button-next slider-arrow"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
