<page-top title="Contactos"></page-top>

<main-content>
  <div class="form-contact">
    <div class="top-column">
      <div class="social-icons-contact">
        <a class="phone" href="">
            <i class='bx bx-phone'></i>
            <h3>Telefone</h3>
            <p>{{personalData.phone}}</p>
        </a>
        <a class="email" href="">
            <i class='bx bx-envelope' ></i>
            <h3>Email</h3>
            <p>{{personalData.email}}</p>
        </a>
        <a class="address" href="">
            <i class='bx bx-home-alt-2' ></i>
            <h3>Endereço</h3>
            <p>{{personalData.address}}</p>
        </a>
      </div>
      <p class="p-message">Precisa de ajuda? Fique à vontade para nos enviar sua mensagem</p>
    </div>
    <div class="bottom-column">
      <div class="form-contact-row">
        <div class="input-box">
          <div class="label-container">
            <i class="ri-user-2-line contact"></i>
            <label for="name">Nome</label>
          </div>
          <input class="name" type="text" placeholder="nome"
          required>
        </div>
        <div class="input-box">
          <div class="label-container">
            <i class="ri-mail-line contact"></i>
            <label for="name">Email</label>
          </div>
          <input class="email" type="email" placeholder="email"
          required>
        </div>
        <div class="input-box">
          <div class="label-container">
            <i class="ri-chat-thread-line contact"></i>
            <label for="name">Assunto</label>
          </div>
          <input class="topic" type="text" placeholder="Assunto"
          required>
        </div>
      </div>

      <div class="divider"></div>

      <div class="form-contact-row">
        <div class="input-box textarea">
          <div class="label-container">
            <i class="ri-question-answer-line contact"></i>
            <label for="name">Mensagem</label>
          </div>
          <textarea rows="20" cols="50" class="message" placeholder="Mensagem"></textarea>
        </div>

      </div>

      <div class="send-message">
        <button class="btn">Enviar</button>
      </div>
    </div>
  </div>
</main-content>
