<div class="footer">
  <div class="footer-logo">
     <img src="assets/images/logos/LogoBrancoPadel_Final.png" alt="Padel Connect" />
  </div>
  <div class="social-icons">
      <a href="https://facebook.com" target="_blank" aria-label="Facebook">
        <i class='bx bxl-facebook'></i>
      </a>
      <a href="https://instagram.com" target="_blank" aria-label="Instagram">
        <i class='bx bxl-instagram' ></i>
      </a>
      <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
        <i class='bx bxl-linkedin' ></i>
      </a>
  </div>
  <div class="borderFooter"></div>
  <div class="creditos">
    <p>2024 Melhor Grupo ACHRS</p>
  </div>
  <div class="politics">
  <a class="politics-link" href="/privacy-policy">Política de Privacidade</a>
  </div>
</div>
