.user-container-info{
    padding-bottom: 1rem;
}

.container-description {
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    text-align: left;
}

.container-forms{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.description-text {
    display: inline-block;
    position: relative;
    color: var(--color-gray);
}

.label-container{
    display: flex;
    align-items: center;
    gap: .5rem;
}

hr {
    border: 0;
    opacity: .4;
    border-top: 1px solid var(--color-gray);
    margin: 0;
    width: 100%;
}

label{
    font-size: var(--font-smalls);
    color: var(--color-gray);
    font-weight: 500;
}

input{
    font-size: var(--font-smaller);
    color: var(--color-text);
    padding-block: .5rem;
    border-bottom: 1px solid var(--color-gray);
}

.contact-detail,
.data-detail{
    display: flex;
    gap: 1rem;
}

.detail{
    display: flex;
    gap: .3rem;
    width: 100%;
    flex-direction: column;
}

:disabled {
    cursor: not-allowed;
    background: var(--color-white);
}