<div class="page-info-title">
  <div class="page-action">
    <button type="submit" class="btn-round back" [routerLink]="['/dashboard/customers']">
      <i class="ri-arrow-left-line"></i>
    </button>
  </div>
  <div class="page-info">
    <title-page pageText="Dados do cliente"></title-page>
    <p class="description-page">Bem vindo á página do cliente 
      <span>{{ customerObj.username }}</span>
    </p>
  </div>
</div>

<card-form>
  <form class="form-show">

    <div class="user-container-info">
      <div class="container-description">
          <p class="description-text">Informações de Utilizador</p>
          <hr>
      </div>
      <div class="container-forms">
          <div class="data-detail">
              <div class="detail">
                <div class="label-container">
                  <i class="ri-user-3-line"></i>
                  <label for="username">Nome utilizador</label>
                </div>
                <input type="text" name="username" value="{{ customerObj.username }}" disabled>
              </div>
              <div class="detail">
                  <div class="label-container">
                    <i class="ri-fingerprint-line"></i>
                    <label for="nif">NIF</label>
                  </div>
                  <input type="text" name="nif" value="{{ customerObj.nif }}" disabled>
              </div>
              <div class="detail">
                  <div class="label-container">
                    <i class="ri-cake-2-line"></i>
                    <label for="birthday">Data Nascimento</label>
                  </div>
                  <input type="text" name="birthday" value="{{ customerObj.birthday }}" disabled>
              </div>
          </div>
          <div class="contact-detail">
              <div class="detail">
                  <div class="label-container">
                    <i class="ri-mail-line"></i>
                    <label for="email">Email</label>
                  </div>
                  <input type="text" name="email" value="{{ customerObj.email }}" disabled>
              </div>
          </div>
      </div>

      <div class="user-container-info">
        <div class="container-description">
            <p class="description-text">Informações Utilitárias</p>
            <hr>
        </div>
        <div class="container-forms">
            <div class="contact-detail">
              <div class="detail">
                  <div class="label-container">
                    <i class="ri-time-line"></i>
                    <label for="last_login">Último Login</label>
                  </div>
                  <input type="text" name="last_login" [value]="customerObj.last_login ? customerObj.last_login : 'Nunca fez login'" disabled>
              </div>
            </div>
            <div class="data-detail">
                <div class="detail">
                    <div class="label-container">
                      <i class="ri-shield-user-line"></i>
                      <label for="role">Role</label>
                    </div>
                    <input type="text" name="role" [(ngModel)]="customerObj.role">
                    <small *ngIf="formErrors['role']" class="small-error">{{ formErrors['role'] }}</small>
                </div>
                <div class="detail">
                  <div class="label-container">
                    <i class="ri-mail-check-line"></i>
                    <label for="email-verified-at">Email Verificado</label>
                  </div>
                  <input type="text" name="email_verified_at" 
                  [value]="customerObj.email_verified_at ? customerObj.email_verified_at : 'Ainda não foi verificado'" disabled>
                </div>
                <div class="detail">
                  <div class="label-container">
                    <i class="ri-calendar-close-line"></i>
                    <label for="email-verified-at">Data Bloqueio</label>
                  </div>
                  <input type="text" name="blocked_at"
                  [value]="customerObj.blocked_at ? customerObj.blocked_at : 'Nunca'"  disabled>
                </div>
                <div class="detail">
                  <div class="label-container">
                    <i class="ri-information-line"></i>
                    <label for="user_blocked">Estado Utilizador</label>
                  </div>
                  <dropdown
                    [items]="userStateOptions"
                    labelKey="label"
                    valueKey="value"
                    placeholder="Selecione o estado do utilizador"
                    [value]="user_state" 
                    (selectionChange)="onUserStateSelected($event)">
                  </dropdown>
                  <small *ngIf="formErrors['user_state']" class="small-error">{{ formErrors['user_state'] }}</small>
                </div>
            </div>
        </div>
      </div>

      <div class="user-container-info">
        <div class="container-description">
            <p class="description-text">Segurança conta</p>
            <hr>
        </div>
        <div class="container-forms">
            <div class="data-detail">
              <div class="detail">
                  <div class="label-container">
                    <i class="ri-lock-unlock-line"></i>
                    <label for="first_name">Nova Password</label>
                  </div>
                  <input type="password" placeholder="Coloque a nova password">
              </div>
              <div class="detail">
                <div class="label-container">
                  <i class="ri-lock-unlock-line"></i>
                  <label for="first_name">Confrmação Nova Password</label>
                </div>
                <input type="password" placeholder="Confirme a nova password">
              </div>
            </div>
        </div>
      </div>
      <div class="button">
        <button type="submit" (click)="editCustomer()" class="btn edit">
          <i class="ri-check-line"></i>
          Guardar alterações
        </button>
      </div>
    </div>
  </form>
</card-form>

