
  <div class="cards">
      <div class="card reservations">
          <div class="card-title reservations">
              <span class="material-icons-sharp">book_online</span>
              <h3>Reservas</h3>
          </div>
      </div>
      <div class="card courts">
          <div class="card-title courts">
              <span class="material-icons-sharp">sports_tennis</span>
              <h3>Campos</h3>
          </div>
      </div>
      <div class="card promotions">
          <div class="card-title promotions">
              <span class="material-icons-sharp">sell</span>
              <h3>Promoções</h3>
          </div>
      </div>
      <div class="card customers">
          <div class="card-title customers">
              <span class="material-icons-sharp">group</span>
              <h3>Clientes</h3>
          </div>
      </div>
    </div>
      <div class="card statistics">
        <div class="card-title statistics">
          <span class="material-icons-sharp">signal_cellular_alt</span>
          <h3>Estatísticas</h3>
        </div>
      </div>
