<page-top title="Sobre nós"></page-top>

<main-content>
  <div class="block-1">
    <div class="block-title">
      <h1>O que nos distingue?</h1>
    </div>
    <div class="block-content">
      <p>Na PadelConnect, acreditamos que a qualidade faz toda a diferença.
        O que nos distingue é o nosso compromisso em oferecer uma experiência completa
        e personalizada para cada jogador. Desde a seleção dos melhores campos de padel,
        cuidadosamente avaliados pela infraestrutura moderna e localização estratégica,
        até a facilidade de reserva online, garantimos uma experiência sem complicações
        e adaptada às suas necessidades.
      </p>
      <p>Além disso, alguns dos nossos campos oferecem aulas para todos os níveis, tornando-se
        o destino ideal tanto para quem quer aprender como para aqueles que procuram aperfeiçoar as suas habilidades.
        A nossa plataforma também se destaca por ser intuitiva e acessível, conectando jogadores e clubes de forma simples e rápida.
      </p>
    </div>
  </div>
  <div class="block-2">
    <div class="left-column">
    <img src="assets/images/about/renith-r-A9VpotrPr1k-unsplash.jpg" class="block-2-img">

      <img src="assets/images/about/renith-r-A9VpotrPr1k-unsplash.jpg"
          class="block-2-img second">
    </div>
    <div class="right-column">
      <div class="block-title">
          <h1>Sobre nós</h1>
      </div>
      <div class="block-text">
          <div class="text">
              <p>PadelConnect é uma empresa que tem como objetivo conectar jogadores de padel com os melhores campos do país.
                A nossa missão é proporcionar a melhor experiência para os jogadores, oferecendo os melhores campos,
                com a melhor infraestrutura e com a melhor localização.
              </p>
          </div>
          <div class="text">
              <p>
                Com uma interface intuitiva e recomendações personalizadas, garantimos que cada partida seja disputada nas melhores condições
                possíveis, em locais com infraestrutura moderna e de fácil acesso. A nossa visão é transformar o padel numa experiência
                inesquecível, promovendo a prática desportiva em ambientes acolhedores e profissionais.
              </p>
          </div>
      </div>
    </div>
  </div>
  <div class="block-3">
    <div class="slide-track">
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
      </div>
    </div>
  </div>
</main-content>
