.card-table {
  transition: all ease 300ms;
  padding-block: 2rem;
}

@media screen and (max-width: 1055px) {
  .card-table {
    background: transparent;
    border-radius: var(--border-radius-2);
    box-shadow: unset;
    padding: 0;
    transition: all ease 300ms;
    margin-top: 2rem;
  }
}
