<div class="sidebar">
  <a class="logo" href="dashboard">
      <img src="assets/images/logos/LogoCoresPadel_Final.png" class="logo-img">
      <h3 class="site-name">Padel <span>Connect</span></h3>
  </a>

  <link-sidebar href="/dashboard/reservations" icon="event" p="Reservas"></link-sidebar>

    <div class="auth" *ngIf="isAdmin">
      <link-sidebar href="/dashboard/companies" icon="domain" p="Empresas"></link-sidebar>
      <link-sidebar href="/dashboard/courts" icon="sports_tennis" p="Campos"></link-sidebar>
      <link-sidebar href="/dashboard/statistics" icon="signal_cellular_alt" p="Estatísticas"></link-sidebar>
      <link-sidebar href="/dashboard/customers" icon="group" p="Clientes"></link-sidebar>
    </div>

  <link-sidebar href="/dashboard/promotions" icon="sell" p="Promoções"></link-sidebar>
  <link-sidebar href="/dashboard/settings" icon="settings" p="Definições"></link-sidebar>

  <div class="logout-container">
    <link-sidebar icon="logout" p="Logout" (click)="logout()"></link-sidebar>
  </div>
</div>
