<page-top title="Política de Privacidade"></page-top>
<main-content>
    <div class="content">
        <div class="text-content">
            <h2>Política de Privacidade</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
            </p>
        </div>

        <div class="text-content">
            <h2>Cookies</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
            </p>
        </div>

        <div class="text-content">
            <h2>Política de Privacidade</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
                orem ipsum dolor sit amet consectetur adipisicing elit. Voluptate qui cupiditate, accusantium amet ea dolorem atque recusandae optio, eaque tenetur sunt illo illum magni minus est odit, maxime earum praesentium!
            </p>
        </div>
    </div>
</main-content>
