<page-top title="Política de Privacidade"></page-top>
<main-content>
    <div class="content">
        <div class="text-content">
            <h2>Política de Privacidade</h2>
            <p>Na Padel Connect, a privacidade dos nossos utilizadores é uma prioridade. Este documento de Política de Privacidade
                explica como recolhemos, utilizamos, armazenamos e protegemos as suas informações pessoais quando utiliza a nossa plataforma.
                Ao utilizar o nosso site, concorda com os termos descritos nesta política.
            </p>
        </div>

        <div class="text-content">
            <h3>1. Informações que Recolhemos</h3>
            <p>Recolhemos os seguintes tipos de informações quando utiliza o nosso site ou serviços:</p>
            <ul>
                <li><span>Informações pessoais: </span>nome, endereço de e-mail, número de telefone e informações de pagamento, quando fornecidas para criação de conta ou reserva de campos.</li>
                <li><span>Informações de navegação: </span>dados sobre a sua utilização do site, incluindo o endereço IP, localização geográfica, tipo de navegador, páginas visitadas e tempo de permanência no site.</li>
                <li><span>Cookies e tecnologias semelhantes: </span>utilizamos cookies para melhorar a sua experiência no site.</li>
            </ul>
        </div>

        <div class="text-content">
            <h3>2. Como Utilizamos as Suas Informações</h3>
            <p>As suas informações são utilizadas para os seguintes fins:</p>
            <ul>
                <li><span>Prestação de serviços: </span>processar reservas, fornecer suporte ao cliente e comunicar informações relacionadas aos nossos serviços.</li>
                <li><span>Melhoria da plataforma: </span>analisar como os utilizadores interagem com o site para otimizar o desempenho e a experiência do utilizador.</li>
                <li><span>Marketing: </span>enviar informações sobre promoções, eventos e atualizações de serviços, sempre com a opção de cancelar a subscrição.</li>
                <li><span>Segurança: </span>garantir a segurança do nosso site e proteger os seus dados contra acessos não autorizados.</li>
            </ul>
        </div>

        <div class="text-content">
            <h3>3. Partilha de Informações</h3>
            <p>A PadelConnect não vende, aluga ou partilha as suas informações pessoais com terceiros, exceto:</p>
            <ul>
                <li><span>Fornecedores de serviços: </span>quando necessário, para processar pagamentos ou fornecer serviços essenciais ao funcionamento da plataforma.</li>
                <li><span>Cumprimento legal: </span>em conformidade com a lei ou se formos obrigados a divulgar informações para proteger os direitos ou segurança da nossa empresa e dos utilizadores.</li>
            </ul>
        </div>

        <div class="text-content">
            <h3>4. Proteção de Dados</h3>
            <p>Adotamos medidas de segurança adequadas para proteger as suas informações pessoais contra acesso,
                alteração, divulgação ou destruição não autorizados. No entanto, nenhum sistema de segurança é 100% seguro, 
                e não podemos garantir a proteção total dos seus dados.</p>
        </div>

        <div class="text-content">
            <h3>5. Seus Direitos</h3>
            <p>Como utilizador, tem os seguintes direitos em relação aos seus dados:</p>
            <ul>
                <li>Aceder e corrigir informações pessoais que mantemos sobre si.</li>
                <li>Solicitar a exclusão dos seus dados pessoais, salvo quando houver necessidade legal de os manter.</li>
                <li>Retirar o consentimento para o uso de dados para marketing a qualquer momento.</li>
            </ul>
            <p>Para exercer esses direitos, entre em contacto connosco através do nosso e-mail de suporte.</p>
        </div>

        <div class="text-content">
            <h3>6. Alterações a esta Política</h3>
            <p>Reservamo-nos o direito de atualizar esta Política de Privacidade periodicamente. Quaisquer alterações serão publicadas nesta página, com a data da última revisão indicada no topo da política. Recomendamos que consulte esta política regularmente.</p>
        </div>       
    </div>
</main-content>
