/* Responsividade para o conteúdo */
.content {
    padding: 2rem 5rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--color-light);
    border-radius: 8px;
}

.text-content {
    margin-bottom: 3rem;
    margin-top: 5rem;
}

.text-content h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 2rem;
}

.text-content h3 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-primary);
    margin-bottom: 1.5rem;
}

.text-content p {
    font-size: 1.1rem;
    color: var(--color-gray);
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    padding-left: 2rem;
}

ul li {
    font-size: 1.1rem;
    color: var(--color-gray);
    line-height: 1.6;
}

ul li span {
    font-weight: bold;
    color: var(--color-black);
}

@media (max-width: 768px) {
    .content {
        padding: 1.5rem 2rem;
    }

    .text-content h2 {
        font-size: 2rem;
    }

    .text-content h3 {
        font-size: 1.6rem;
    }

    .text-content p, ul li {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .content {
        padding: 1rem;
    }

    .text-content h2 {
        font-size: 1.8rem;
    }

    .text-content h3 {
        font-size: 1.4rem;
    }

    .text-content p, ul li {
        font-size: 0.9rem;
    }
}