<div class="page-info-action">
  <div class="page-info">
    <title-page pageText="Listagem de Campos"></title-page>
    <p class="description-page">Esta lista apresenta todas as suas
      campos associadas ao <span>Padel Connect</span>
    </p>
  </div>
</div>

<card-table>
  <div *ngIf="isLoading; else showTable" class="loading-screen">
    <div class="spinner"></div>
    <p class="loading">A carregar a lista de campos, por favor aguarde ...</p>
  </div>
  <ng-template #showTable>
    <div *ngIf="courts.length > 0; else noCourts">
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th class="left">Nome</th>
              <th class="left">Empresa</th>
              <th class="middle">Preço/h</th>
              <th class="left">Pavimento</th>
              <th class="middle">Serviços</th>
              <th class="middle">Estado</th>
              <th class="middle">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let court of courts">
              <td data-cell="Nome" class="left">{{ court?.name }}</td>
              <td data-cell="Empresa" class="left">{{ court?.company.name }}</td>
              <td data-cell="Preço / h" class="middle">{{ court?.price_hour }}€</td>
              <td data-cell="Tipo de chão" class="left">{{ court?.type_floor }}</td>
              <td data-cell="Serviços" class="middle services">
                <div *ngIf="court?.illumination === 1" class="tooltip" (click)="toggleService(court, 'illumination', $event)">
                  <i class="ri-lightbulb-flash-line"></i>
                  <span class="tooltip-text">Com Iluminação</span>
                </div>
                <div *ngIf="court?.illumination === 0" class="tooltip" (click)="toggleService(court, 'illumination', $event)">
                  <i class="ri-lightbulb-line"></i>
                  <span class="tooltip-text">Sem Iluminação</span>
                </div>
                <div *ngIf="court?.cover === 1" class="tooltip" (click)="toggleService(court, 'cover', $event)">
                  <i class="ri-building-2-line"></i>
                  <span class="tooltip-text">Interior</span>
                </div>
                <div *ngIf="court?.cover === 0" class="tooltip" (click)="toggleService(court, 'cover', $event)">
                  <i class="ri-tree-line"></i>
                  <span class="tooltip-text">Exterior</span>
                </div>
                <div *ngIf="court?.shower_room === 1" class="tooltip" (click)="toggleService(court, 'shower_room', $event)">
                  <i class="ri-drop-line"></i>
                  <span class="tooltip-text">Com Balneário</span>
                </div>
                <div *ngIf="court?.shower_room === 0" class="tooltip" (click)="toggleService(court, 'shower_room', $event)">
                  <i class="ri-blur-off-line"></i>
                  <span class="tooltip-text">Sem Balneário</span>
                </div>
                <div *ngIf="court?.lockers === 1" class="tooltip" (click)="toggleService(court, 'lockers', $event)">
                  <i class="ri-lock-line"></i>
                  <span class="tooltip-text">Com Cacifo</span>
                </div>
                <div *ngIf="court?.lockers === 0" class="tooltip" (click)="toggleService(court, 'lockers', $event)">
                  <i class="ri-lock-unlock-line"></i>
                  <span class="tooltip-text">Sem Cacifo</span>
                </div>
                <div *ngIf="court?.rent_equipment === 1" class="tooltip" (click)="toggleService(court, 'rent_equipment', $event)">
                  <i class="ri-checkbox-circle-line"></i>
                  <span class="tooltip-text">Com Aluger equipamento</span>
                </div>
                <div *ngIf="court?.rent_equipment === 0" class="tooltip" (click)="toggleService(court, 'rent_equipment', $event)">
                  <i class="ri-prohibited-2-line"></i>
                  <span class="tooltip-text">Sem Aluguer equipamento</span>
                </div>
              </td>
              <td data-cell="Estado" class="middle">
                <div class="status-wrapper">
                  <div [ngClass]="{
                    'status-disponivel': court?.status === 'Disponivel',
                    'status-inativo': court?.status === 'Inativo',
                    'status-occupied': court?.status === 'Indisponivel'
                  }">
                    {{ court?.status }}
                  </div>
                </div>
              </td>
              <td data-cell="Ações" class="middle">
                <div class="actions">
                  <div class="tooltip">
                    <i class='ri-more-2-fill' [routerLink]="['/dashboard/court', court?.id]"></i>
                    <span class="tooltip-text">Detalhes</span>
                  </div>
                  <div class="tooltip">
                    <i class='ri-edit-line' [routerLink]="['/dashboard/court', court?.id, 'edit']"></i>
                    <span class="tooltip-text">Editar</span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</ng-template>
</card-table>

<ng-template #noCourts>
  <p class="no-courts">Não existe nenhum campo</p>
</ng-template>
