.main-container {
  background: var(--color-dashboard);
  width: calc(100% - 270px);
  margin-left: 270px;
  transition: all ease 500ms;

  height: 100vh;
}

.main-container.maximized {
  width: calc(100% - 110px);
}

.dashboard {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  transform: translateY(-70px);
  width: 100%;
}
