<div class="page-info-title">
  <div class="page-action">
    <button type="submit" class="btn-round back" [routerLink]="['/dashboard/courts']">
      <i class="ri-arrow-left-line"></i>
    </button>
  </div>
  <div class="page-info">
    <title-page pageText="Criação de um campo"></title-page>
    <p class="description-page">Bem vindo á página de criação de campo,
      por favor preencha os dados obrigatórios.
    </p>
  </div>
</div>

<card-form>
  <form class="form-show">
    <div class="user-container-info">
      <div class="container-description">
          <p class="description-text">Informações do Campo</p>
          <hr>
      </div>
      <div class="container-forms">
          <div class="data-detail">
              <div class="detail">
                <div class="label-container">
                  <i class="ri-input-field"></i>
                  <label for="name">Nome Campo</label>
                </div>
                <input type="text" name="name" [(ngModel)]="courtObj.name" placeholder="Nome">
                <small *ngIf="formErrors['name']" class="small-error">{{ formErrors['name'] }}</small>
              </div>

              <div class="detail">
                  <div class="label-container">
                    <i class="ri-building-2-line"></i>
                    <label for="company_name">Empresa</label>
                  </div>
                  <dropdown
                    [items]="companies"
                    labelKey="name"
                    valueKey="id"
                    placeholder="Selecione uma Empresa"
                    (selectionChange)="onCompanySelected($event)">
                  ></dropdown>
                  <small *ngIf="formErrors['company_id']" class="small-error">{{ formErrors['company_id'] }}</small>
              </div>
            </div>
            <div class="contact-detail">
                <div class="detail">
                    <div class="label-container">
                      <i class="ri-money-euro-circle-line"></i>
                      <label for="price_hour">Preço Hora</label>
                    </div>
                    <input type="number" name="price_hour" [(ngModel)]="courtObj.price_hour" placeholder="Preço Hora">
                    <small *ngIf="formErrors['price_hour']" class="small-error">{{ formErrors['price_hour'] }}</small> 
                </div>
                <div class="detail">
                  <div class="label-container">
                    <i class="ri-money-euro-circle-line"></i>
                    <label for="status">Estado</label>
                  </div>
                  <dropdown
                    [items]="statusOptions"
                    labelKey="label"
                    valueKey="value"
                    placeholder="Selecione o estado"
                    [(ngModel)]="courtObj.status"
                    (selectionChange)="onStatusSelected($event)">
                  </dropdown>
                  <small *ngIf="formErrors['status']" class="small-error">{{ formErrors['status'] }}</small> 
                </div>
                <div class="detail">
                  <div class="label-container">
                    <i class="ri-layout-line"></i>
                    <label for="type_floor">Tipo Piso</label>
                  </div>
                  <dropdown
                    [items]="floorOptions"
                    labelKey="label"
                    valueKey="value"
                    placeholder="Selecione o tipo de piso"
                    [(ngModel)]="courtObj.type_floor"
                    (selectionChange)="onTypeFloorSelected($event)">
                  </dropdown>
                  <small *ngIf="formErrors['type_floor']" class="small-error">{{ formErrors['type_floor'] }}</small> 
                </div>
                <div class="detail">
                  <div class="label-container">
                    <i class="ri-calendar-event-line"></i>
                    <label for="last_maintenance">Última manutenção</label>
                  </div>
                  <input type="date" name="last_maintenance" [(ngModel)]="courtObj.last_maintenance"
                  [value]="courtObj.last_maintenance">
                  <small *ngIf="formErrors['last_maintenance']" class="small-error">{{ formErrors['last_maintenance'] }}</small> 
                </div>
            </div>
        </div>
    </div>
    <div class="user-container-info">
      <div class="container-description">
        <p class="description-text">Serviços do Campo</p>
        <hr>
      </div>
      <div class="container-forms">
        <div class="data-detail">
          <div class="detail-services">
            <div
              class="service"
              [ngClass]="{ 'danger': !serviceStates.illumination, 'success': serviceStates.illumination }"
              (click)="toggleService('illumination')">
              <i [ngClass]="{ 'ri-lightbulb-line': !serviceStates.illumination,
              'ri-lightbulb-flash-line': serviceStates.illumination}"></i>
              <span class="tooltip-text">{{ serviceTexts.illumination }}</span>
            </div>

            <div
              class="service"
              [ngClass]="{ 'danger': !serviceStates.cover, 'success': serviceStates.cover }"
              (click)="toggleService('cover')">
              <i [ngClass]="{ 'ri-tree-line': !serviceStates.cover,
              'ri-building-2-line': serviceStates.cover}"></i>
              <span class="tooltip-text">{{ serviceTexts.cover }}</span>
            </div>

            <div
              class="service"
              [ngClass]="{ 'danger': !serviceStates.shower_room, 'success': serviceStates.shower_room }"
              (click)="toggleService('shower_room')">
              <i [ngClass]="{ 'ri-blur-off-line': !serviceStates.shower_room,
              'ri-drop-line': serviceStates.shower_room}"></i>
              <span class="tooltip-text">{{ serviceTexts.shower_room }}</span>
            </div>

            <div
              class="service"
              [ngClass]="{ 'danger': !serviceStates.lockers, 'success': serviceStates.lockers }"
              (click)="toggleService('lockers')">
              <i [ngClass]="{ 'ri-lock-unlock-line': !serviceStates.lockers,
              'ri-lock-line': serviceStates.lockers}"></i>
              <span class="tooltip-text">{{ serviceTexts.lockers }}</span>
            </div>

            <div
              class="service"
              [ngClass]="{ 'danger': !serviceStates.rent_equipment, 'success': serviceStates.rent_equipment }"
              (click)="toggleService('rent_equipment')">
              <i [ngClass]="{ 'ri-prohibited-2-line': !serviceStates.rent_equipment,
              'ri-checkbox-circle-line': serviceStates.rent_equipment}"></i>
              <span class="tooltip-text">{{ serviceTexts.rent_equipment }}</span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="button">
      <button type="submit" (click)="create()" class="btn create">
        <i class="ri-save-line"></i>
        Registar Campo
      </button>
    </div>
  </form>
</card-form>
