<div class="page-info-title">
  <div class="page-action">
    <button type="submit" class="btn-round back" [routerLink]="['/dashboard/courts']">
      <i class="ri-arrow-left-line"></i>
    </button>
  </div>
  <div class="page-info">
    <title-page pageText="Criação de um campo"></title-page>
    <p class="description-page">Bem vindo á página de criação de campo,
      por favor preencha os dados obrigatórios.
    </p>
  </div>
</div>

<card-form>
  <form class="form">

    <div class="flex-container">

      <!-- <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-hotel-line"></i>
            <p>Empresa</p>
          </div>
          <div class="input-container">
            <input type="number" name="company_id" [(ngModel)]="courtObj.company_id"
            placeholder="Empresa">
          </div>
        </div>
        <small *ngIf="formErrors['company_id']" class="small-error">{{ formErrors['company_id'] }}</small>
      </div> -->
      <dropdown
      [items]="companies"
      labelKey="name"
      valueKey="id"
      placeholder="Selecione uma Empresa"
      (selectionChange)="onCompanySelected($event)">
      ></dropdown>

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-input-field"></i>
            <p>Nome</p>
          </div>
          <div class="input-container">
            <input type="text" name="name" [(ngModel)]="courtObj.name"
            placeholder="Nome">
          </div>
        </div>
        <small *ngIf="formErrors['name']" class="small-error">{{ formErrors['name'] }}</small>
      </div>

    </div>

    <div class="flex-container">

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-money-euro-circle-line"></i>
            <p>Preço hora</p>
          </div>
          <div class="input-container">
            <input type="number" name="price_hour" [(ngModel)]="courtObj.price_hour"
            placeholder="Preço Hora">
          </div>
        </div>
        <small *ngIf="formErrors['price_hour']" class="small-error">{{ formErrors['price_hour'] }}</small>
      </div>

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-tools-line"></i>
            <p>Última manutenção</p>
          </div>
          <div class="input-container">
            <input type="date" name="last_maintenance" [(ngModel)]="courtObj.last_maintenance"
            placeholder="Última manutenção" [value]="courtObj.last_maintenance | date: 'yyyy-MM-dd'">
          </div>
        </div>
        <small *ngIf="formErrors['last_maintenance']" class="small-error">{{ formErrors['last_maintenance'] }}</small>
      </div>

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-information-line"></i>
            <p>Estado</p>
          </div>
          <div class="input-container">
            <select name="status" [(ngModel)]="courtObj.status">
              <option value="" disabled selected>Selecione o estado</option>
              <option value="Disponivel">Disponivel</option>
              <option value="Indisponivel">Indisponivel</option>
              <option value="Inativo">Inativo</option>
            </select>
          </div>
        </div>
        <small *ngIf="formErrors['status']" class="small-error">{{ formErrors['status'] }}</small>
      </div>

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-layout-line"></i>
            <p>Tipo de chão</p>
          </div>
          <div class="input-container">
            <select name="type_floor" [(ngModel)]="courtObj.type_floor">
              <option value="" disabled selected>Selecione o tipo de chão</option>
              <option value="Piso Cimento">Piso Cimento</option>
              <option value="Piso Madeira">Piso Madeira</option>
              <option value="Piso Acrílico">Piso Acrílico</option>
              <option value="Piso Relva Sintética">Piso Relva Sintética</option>
            </select>
          </div>
        </div>
        <small *ngIf="formErrors['type_floor']" class="small-error">{{ formErrors['type_floor'] }}</small>
      </div>

    </div>

    <div class="flex-container">

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-building-2-line"></i>
            <p>Cobertura</p>
          </div>
          <div class="input-container">
            <select name="cover" [(ngModel)]="courtObj.cover">
              <option [ngValue]="1">Sim</option>
              <option [ngValue]="0">Não</option>
            </select>
          </div>
        </div>
        <small *ngIf="formErrors['cover']" class="small-error">{{ formErrors['cover'] }}</small>
      </div>

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-lightbulb-line"></i>
            <p>Iluminação</p>
          </div>
          <div class="input-container">
            <select name="illumination" [(ngModel)]="courtObj.illumination">
              <option [ngValue]="1">Sim</option>
              <option [ngValue]="0">Não</option>
            </select>
          </div>
        </div>
        <small *ngIf="formErrors['illumination']" class="small-error">{{ formErrors['illumination'] }}</small>
      </div>

    </div>

    <div class="button">
      <button type="submit" (click)="create()" class="btn create">
        <i class="ri-save-line"></i>
        Registar Campo
      </button>
    </div>

  </form>
</card-form>
