<title-page pageText="Adicionar Campo"></title-page>

<card-form>
  <form class="form">

    <div class="small-large">



      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class='bx bx-building'></i>
            <p>Empresa</p>
          </div>
          <div class="input-container">
            <input type="text" name="company_name" [(ngModel)]="courtObj.company_name" readonly>
          </div>
        </div>
      </div>

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class='bx bx-euro'></i>
            <p>Preço hora</p>
          </div>
          <div class="input-container">
            <input type="number" name="price_hour" [(ngModel)]="courtObj.price_hour" readonly>
          </div>
        </div>
      </div>

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class='bx bx-user'></i>
            <p>Nome</p>
          </div>
          <div class="input-container">
            <input type="text" name="name" [(ngModel)]="courtObj.name" readonly>
          </div>
        </div>
      </div>
    </div>

    <div class="complete">

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class='bx bx-wrench'></i>
            <p>Última manutenção</p>
          </div>
          <div class="input-container">
            <input type="date" name="last_maintenance" [(ngModel)]="courtObj.last_maintenance"
              [value]="courtObj.last_maintenance | date: 'yyyy-MM-dd'" readonly>
          </div>
        </div>
      </div>

    </div>

    <div class="large-small">

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class='bx bx-grid'></i>
            <p>Tipo de chão</p>
          </div>
          <div class="input-container">
            <input type="text" name="type_floor" [(ngModel)]="courtObj.type_floor" readonly>
          </div>
        </div>
      </div>

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class='bx bx-pulse'></i>
            <p>Estado</p>
          </div>
          <div class="input-container">
            <input type="text" name="status" [(ngModel)]="courtObj.status" readonly>
          </div>
        </div>
      </div>

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class='bx bx-cloud'></i>
            <p>Cobertura</p>
          </div>
          <div class="input-container">
            <input type="" name="cover" [(ngModel)]="courtObj.cover" readonly>
          </div>
        </div>
      </div>
    </div>

    <div class="button">
      <button type="submit" class="btn back">
        Voltar atrás
        <i class='bx bx-plus-circle'></i>
      </button>
      <button type="submit" class="btn edit">
        Editar
        <i class='bx bx-plus-circle'></i>
      </button>
      <form method="post" (ngSubmit)="deleteCourt($event)">
        <button type="submit" class="btn delete">
          Eliminar
          <i class='bx bx-plus-circle'></i>
        </button>
      </form>
    </div>
  </form>
</card-form>
