<div class="page-info-title">
  <div class="page-action">
    <button type="submit" class="btn-round back" [routerLink]="['/dashboard/courts']">
      <i class="ri-arrow-left-line"></i>
    </button>
  </div>
  <div class="page-info">
    <title-page pageText="Detalhes do campo"></title-page>
    <p class="description-page">Bem vindo á página do campo
      <span>{{ courtObj.name }}</span>, 
      aqui pode visualizar todos os detalhes do campo.
    </p>
  </div>
</div>

<card-form>
  <form class="form">
    <div class="flex-container">

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-hotel-line"></i>
            <p>Empresa</p>
          </div>
          <div class="input-container">
            <input type="text" name="company_name" [(ngModel)]="courtObj.company_name" readonly>
          </div>
        </div>
      </div>
  
      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-input-field"></i>
            <p>Nome</p>
          </div>
          <div class="input-container">
            <input type="text" name="name" [(ngModel)]="courtObj.name" readonly>
          </div>
        </div>
      </div>
  
    </div>
  
    <div class="flex-container">
  
      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-money-euro-circle-line"></i>
            <p>Preço hora</p>
          </div>
          <div class="input-container">
            <input type="number" name="price_hour" [(ngModel)]="courtObj.price_hour" readonly>
          </div>
        </div>
      </div>
  
      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-tools-line"></i>
            <p>Última manutenção</p>
          </div>
          <div class="input-container">
            <input type="text" name="last_maintenance"
            [value]="courtObj.last_maintenance ? courtObj.last_maintenance : 'Nunca'" readonly>
          </div>
        </div>
      </div>
  
      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-information-line"></i>
            <p>Estado</p>
          </div>
          <div class="input-container">
            <input type="text" name="status" [(ngModel)]="courtObj.status" readonly>
          </div>
        </div>
      </div>
  
      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-layout-line"></i>
            <p>Tipo de chão</p>
          </div>
          <div class="input-container">
            <input type="text" name="type_floor" [(ngModel)]="courtObj.type_floor" readonly>
          </div>
        </div>
      </div>
  
    </div>
  
    <div class="flex-container">
  
      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-building-2-line"></i>
            <p>Cobertura</p>
          </div>
          <div class="input-container">
            <input type="" name="cover"
              [value]="courtObj.cover === 0 ? 'Sem cobertura' : courtObj.cover === 1 ? 'Com cobertura' : ''"  readonly>
          </div>
        </div>
      </div>
      
      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-lightbulb-line"></i>
            <p>Iluminação</p>
          </div>
          <div class="input-container">
            <input type="" name="illumination"
              [value]="courtObj.illumination === 0 ? 'Sem Iluminação' : courtObj.illumination === 1 ? 'Com Iluminação' : ''"  readonly>
          </div>
        </div>
      </div>
  
    </div>

    <div class="button">
      
      <button class="btn edit" [routerLink]="['/dashboard/court', court_id, 'edit']">
        <i class="ri-edit-line"></i>
        Editar {{ courtObj.name }}
      </button>

      <form method="post" (ngSubmit)="deleteCourt($event)">
        <button type="submit" class="btn delete">
          <i class="ri-delete-bin-2-line"></i>
          Eliminar {{ courtObj.name }}
        </button>
      </form>

    </div>
  </form>
</card-form>
