/* =============================
   DROPDOWN ROLES
   ============================= */
   .dropdown {
    width: 100%;
    position: relative;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text);
    font-size: var(--font-smaller);
    padding-block: .5rem;
    padding-right: .5rem;
    border-bottom: 1px solid var(--color-gray);
}

.select-clicked {
    border-color: var(--color-gray);
    box-shadow: var(--box-shadow);
}

.select:hover .caret{
    border-top: 6px solid var(--color-blue-2);
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid var(--color-primary);
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    font-size: var(--font-smaller);
    list-style: none;
    padding: .2rem;
    background: var(--color-white);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius-1);
    color: var(--color-text);
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: opacity 0.2s, visibility 0s linear 0.2s;
    transition: 0.2s;
    z-index: 1;
    overflow-y: auto;
    max-height: 220px;
}

.menu::-webkit-scrollbar {
    height: 7px; 
}

.menu::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 50px;
    cursor: pointer;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: var(--color-background-sec);
}

.active {
    background: var(--color-white);
    color: var(--color-dark);
}

.menu-open {
    display: block;
    opacity: 1;
    transition: 0.2s;
}
