/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-primary: #57cc99;
  --color-danger: #A50B0B;
  --color-success: #1b9c5c;
  --color-warning: #FDC500;
  --color-white: #fff;

  --color-gray: #A4A3A3;
  --color-light-grey: #ECECEC;
  --color-dark: #1e1e1f;

  --color-text: #4C4C4C;

  --color-background: #EDEAE0;
  --color-background-sec: #f3fff8;

  --color-blue-1: #00296B;
  --color-blue-2: #00509D;
  --color-yellow: #FFD500;

  --card-border-radius: 2rem;
  --border-radius-1: 0.8rem;
  --border-radius-2: 1.5rem;
  --border-radius-3: 0.4rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
  --box-shadow-btn: 0 0 1rem var(--color-gray);

  --font-title: 5.5rem;
  --font-infos-court: 2.1rem;
  --font-subtitle: 1.5rem;
  --font-size: 1.3rem;
  --font-small: 1.1rem;
  --font-smalls: 1rem;
  --font-smaller: .9rem;

  --color-input: #e9e8e8;
  --box-shadow-card: 0 0 3rem var(--color-input);
  --color-dashboard: #c7f9dc;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
    font-family: 'Fira Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    background: var(--color-white);
    user-select: none;
    overflow-x: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  transition: all ease 300ms;
}

.table-wrapper {
  overflow-x: auto;
  width: 100%; 
}

table {
  border-collapse: collapse;
  width: 100%; 
}

tr .middle {
  text-align: center;
}

tr .left {
  text-align: left;
}

table i{
  font-size: var(--font-size);
}

thead th{
  color: var(--color-primary);
  font-size: var(--font-small);
}

th, td {
  padding: .5rem;
}

th:not(:first-child), td:not(:first-child){
  border-left: 1px solid rgba(175, 175, 175, 0.3);
}

th{
  padding-block: 1rem;
  border-bottom: 1px solid rgba(175, 175, 175, 0.3);
}

tbody td {
  font-size: var(--font-smalls);
  color: var(--color-gray);
  padding-block: 1rem;
}

.animated {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.animated.visible {
  opacity: 1;
  transform: translateY(0);
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15rem;
}

.block-title {
  font-size: 2rem;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-info-action{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.page-info-create{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.page-info{
  display: flex;
  flex-direction: column;
}

.page-action{
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-page{
  font-size: var(--font-smaller);
  color: var(--color-text);
  opacity: .8;
}

.description-page span{
  color: var(--color-primary);
  font-weight: 600;
  opacity: 1;
}

.actions {
  display: inline-flex;
  gap: .5rem;
  font-size: var(--font-size);
}

.actions i {
  cursor: pointer;
}

.actions i:hover {
  color: var(--color-primary);
}

.actions .ri-eye-2-line{
  color: var(--color-success);
}

.actions .ri-edit-line {
  color: var(--color-blue-2);
}

.form {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.wrap-attribute-container{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
}

.small-large{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 1.5rem;
}

.complete{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.large-small{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1.5rem;
}

.flex-container{
  display: flex;
  width: 100%;
  gap: 1.5rem;
}

.attribute-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1.5rem;
  gap: .5rem;
  border-radius: var(--border-radius-1);
  box-shadow: inset 2px 2px 10px rgb(0, 0, 0, 0.1);
}

.label-container{
  display: flex;
  gap: .5rem;
  align-items: center;
}

.label-container i{
  font-size: var(--font-size);
  color: var(--color-primary);
}

.label-container p {
  font-size: var(--font-small);
  color: var(--color-primary);
}

.input-container input{
  background: none;
  outline: none;
  font-size: var(--font-small);
  color: var(--color-text);
  width: 100%;
}

.input-container input::placeholder{
  background: none;
  outline: none;
  font-size: var(--font-small);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type=number] {
-moz-appearance: textfield;
}

.input-box i {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: var(--color-gray);
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-block: 1rem;
}

.btn{
  color: var(--color-white);
  font-size: var(--font-smalls);
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 1rem 3rem;
  border-radius: var(--border-radius-2);
}

.btn-round{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size);
  background: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}

.btn.back
{
   background: var(--color-primary);
}

.btn.edit, .btn.create {
  background: var(--color-blue-2);
}

.btn.delete {
  background: var(--color-danger);
}

.small-error {
  padding: .5rem;
  color: var(--color-danger);
  font-size: var(--font-smaller);
}

.loading {
  font-size: 1.1rem;
  color: var(--color-primary);
}

.loading-screen {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: calc(75vh - 124px - 61px - 3rem);
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--color-primary);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1450px) {
  .table-wrapper {
    display: block; 
    overflow-x: auto;
    padding-bottom: 10px;
  }

  table {
    min-width: 1200px; 
  }

  .table-wrapper::-webkit-scrollbar {
    height: 7px; 
  }

  .table-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 50px;
    cursor: pointer;
  }

  .flex-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1175px) {
  .small-large{
    display: flex;
    flex-direction: column;
  }

  .large-small{
    display: flex;
    flex-direction: column;
  }

  .flex-container{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1055px) {
  table {
      font-size: 1rem;
      background: transparent;
      border-radius: 0;
      box-shadow: none;
      padding: 0;
  }

  table thead {
      display: none;
  }

  table tbody td,
  table tbody td a {
      text-align: start;
      border-bottom: 0;
      display: block ruby;
      padding: 0.5rem 1rem;
  }

  table tbody tr {
      display:block;
      text-align: start;
      width: 100%;
      margin-bottom: 2rem;
      background: var(--color-white);
      border-radius: var(--card-border-radius);
      padding: var(--card-padding);
      box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
  }

  table tbody td:before {
      content: attr(data-cell) ": ";
      font-weight: 600;
      color: var(--color-primary);
  }

  tr .middle {
    text-align: left;
  }

  table {
    min-width: 0; 
  }

  .loading {
    font-size: 1.1rem;
    color: var(--color-primary);
    background: var(--color-white);
    border-radius: var(--border-radius-2);
    padding: var(--card-padding);
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
  }
  
  td, th{
    border-left: none;
  }

  th:not(:first-child), td:not(:first-child){
    border-left: none;
  }
}
