<div class="page-info-create">
  <div class="page-action">
    <button type="submit" class="btn-round back" [routerLink]="['/dashboard/companies']">
      <i class="ri-arrow-left-line"></i>
    </button>
  </div>
  <div class="page-info">
    <title-page pageText="Criação de uma empresa"></title-page>
    <p class="description-page">Bem vindo á página de criação de empresa,
      por favor preencha os dados obrigatório.
    </p>
  </div>
</div>

<card-form>
  <form class="form">

    <div class="small-large">

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-fingerprint-line"></i>
            <p>NIF</p>
          </div>
          <div class="input-container">
            <input type="number" name="nif" [(ngModel)]="companyObj.nif" placeholder="999999999">
          </div>
        </div>
        <small *ngIf="formErrors['nif']" class="small-error">{{ formErrors['nif'] }}</small>
      </div>


      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-phone-line"></i>
            <p>Contacto</p>
          </div>
          <div class="input-container">
            <input type="number" name="contact" [(ngModel)]="companyObj.contact" placeholder="910000000" minlength="9" maxlength="9">
          </div>
        </div>
        <small *ngIf="formErrors['contact']" class="small-error">{{ formErrors['contact'] }}</small>
      </div>

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-hotel-line"></i>
            <p>Nome</p>
          </div>
          <div class="input-container">
            <input type="text" name="name" [(ngModel)]="companyObj.name" placeholder="PadelConnect">
          </div>
        </div>
        <small *ngIf="formErrors['name']" class="small-error">{{ formErrors['name'] }}</small>
      </div>

    </div>

    <div class="complete">

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-mail-line"></i>
            <p>Email</p>
          </div>
          <div class="input-container">
            <input type="text" name="email" [(ngModel)]="companyObj.email" placeholder="Email">
          </div>
        </div>
      </div>
      <small *ngIf="formErrors['email']" class="small-error">{{ formErrors['email'] }}</small>

    </div>

    <div class="large-small">

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-home-4-line"></i>
            <p>Endereço e Porta</p>
          </div>
          <div class="input-container">
            <input type="text" name="addressPort" [(ngModel)]="addressObj.addressPort" placeholder="Rua do Padel 1">
          </div>
        </div>
        <small *ngIf="formErrors['address_id']" class="small-error">{{ formErrors['address_id'] }}</small>
      </div>

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-signpost-line"></i>
            <p>Código Postal</p>
          </div>
          <div class="input-container">
            <input type="text" name="postalCode" [(ngModel)]="addressObj.postalCode" placeholder="4000-000">
          </div>
        </div>
        <small *ngIf="formErrors['address_id']" class="small-error">{{ formErrors['address_id'] }}</small>
      </div>

      <div class="wrap-attribute-container">
        <div class="attribute-container">
          <div class="label-container">
            <i class="ri-map-pin-2-line"></i>
            <p>Localidade</p>
          </div>
          <div class="input-container">
            <input type="text" name="locality" [(ngModel)]="addressObj.locality" placeholder="Porto">
          </div>
        </div>
        <small *ngIf="formErrors['address_id']" class="small-error">{{ formErrors['address_id'] }}</small>
      </div>
    </div>

    <div class="button">
      <button type="submit" (click)="create()" class="btn create">
        <i class="ri-save-line"></i>
        Registar Empresa
      </button>
    </div>
  </form>
</card-form>

