.input-toggle {
  display: none;
}

.display {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  background: transparent;
}

.toggle {
  width: 50px;
  height: 30px;
  border-radius: 999px;
  background: var(--color-light-grey);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  position: relative;
}

.circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: var(--color-white);
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(10%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  overflow: hidden;
}

.no {
  color: var(--color-danger);
  opacity: 1;
}

.yes {
  margin-top: -170%;
  color: var(--color-primary);
}

.i {
  position: absolute;
}

.input-toggle:checked + .display label .circle {
  left: 100%;
  transform: translate(-110%, -50%);
}

  .input-toggle:checked + .display label .circle .no {
      margin-top: 150%;
      opacity: 0;
  }

  .input-toggle:checked + .display label .circle .yes {
      margin-top: 0%;
  }

.toggle:active .circle {
  width: 35px;
}

.password-strength-indicators {
  padding-block: .5rem;
  display: flex;
  gap: .5rem;
  align-items: center;
  flex-wrap: wrap;
}

.password-strength-indicators span {
  padding: .5rem 1rem;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.password-strength-indicators span.valid {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.password-strength-bar {
  display: none;
  margin-block: .5rem;
  height: .5rem;
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

.password-strength-text{
  display: none;
}

.small-error {
  color: #e74c3c;
  font-size: 12px;
}

@media (max-width: 550px) {
  .password-strength-indicators {
    overflow: hidden;
    display: none;
  }

  .password-strength-indicators span {
    display: none;
  }

  .password-strength-bar {
    display: block;
  }

  .password-strength-bar.very-weak{
    background-color: var(--color-danger);
  }

  .password-strength-bar.weak{
    background-color: var(--color-danger);
  }

  .password-strength-bar.medium{
    background-color: var(--color-warning);
  }

  .password-strength-bar.good{
    background-color: var(--color-blue-2);
  }

  .password-strength-bar.perfect{
    background-color: var(--color-primary);
  }

  .password-strength-text{
    display: block;
  }
  
  .password-strength-text.perfect {
    color: var(--color-primary);
  }
  
  .password-strength-text.good {
    color: var(--color-blue-2);
  }

  .password-strength-text.medium {
    color: var(--color-warning);
  }
  
  .password-strength-text.weak {
    color: var(--color-danger);
  }
  
  .password-strength-text.very-weak {
    color: var(--color-danger);
  }
}

