<div class="page-info-title">
  <div class="page-action">
    <button type="submit" class="btn-round back" [routerLink]="['/dashboard/companies']">
      <i class="ri-arrow-left-line"></i>
    </button>
  </div>
  <div class="page-info">
    <title-page pageText="Criação de uma empresa"></title-page>
    <p class="description-page">Bem vindo á página de criação de empresa,
      por favor preencha os dados obrigatório.
    </p>
  </div>
</div>

<card-form>
  <form class="form-show">
    <div class="user-container-info">
      <div class="container-description">
          <p class="description-text">Informações Utilizador</p>
          <hr>
      </div>
      <div class="container-forms">
          <div class="data-detail">
            <div class="detail">
              <div class="label-container">
                <i class="ri-user-line"></i>
                <label for="user_name">Name</label>
              </div>
              <input type="text" name="user_name" value="{{ companyObj.user_name }}"
                placeholder="PadelConnect" [(ngModel)]="companyObj.user_name">
                <small *ngIf="formErrors['user_name']" class="small-error">{{ formErrors['user_name'] }}</small>
            </div>
            <div class="detail">
              <div class="label-container">
                <i class="ri-fingerprint-line"></i>
                <label for="user_nif">NIF</label>
              </div>
              <input type="text" name="user_nif"
              (input)="formatNif($event)"
              [value]="companyObj.user_nif === 0 ? '' : companyObj.user_nif"
              maxlength="9"
              placeholder="Sem NIF">
              <small *ngIf="formErrors['user_nif']" class="small-error">{{ formErrors['user_nif'] }}</small>
            </div>
            <div class="detail">
                <div class="label-container">
                  <i class="ri-mail-line"></i>
                  <label for="user_email">Email</label>
                </div>
                <input type="text" name="user_email" value="{{ companyObj.user_email }}"
                placeholder="email@padelconnect.pt"
                [(ngModel)]="companyObj.user_email">
                <small *ngIf="formErrors['user_email']" class="small-error">{{ formErrors['user_email'] }}</small>
            </div>
          </div>
          <div class="container-forms">
            <div class="data-detail">
              <div class="detail">
                <div class="label-container">
                  <i class="ri-lock-unlock-line"></i>
                  <label for="new_password">Password</label>
                </div>
                <input
                  id="user_password"
                  type="password"
                  name="user_password"
                  (input)="evaluatePasswordStrength(passwordObj.user_password)"
                  [(ngModel)]="passwordObj.user_password"
                  placeholder="Coloque a password"
                  required
                  />
                  
                <small *ngIf="formErrors['user_password']" class="small-error">{{ formErrors['user_password'] }}</small>

                <div class="password-strength-indicators">
                  <span [ngClass]="{ 'valid': passwordStrengthStatus.length }">8 caracteres</span>
                  <span [ngClass]="{ 'valid': passwordStrengthStatus.lowercase }">Letra a-z</span>
                  <span [ngClass]="{ 'valid': passwordStrengthStatus.uppercase }">Letra A-Z</span>
                  <span [ngClass]="{ 'valid': passwordStrengthStatus.number }">Número</span>
                  <span [ngClass]="{ 'valid': passwordStrengthStatus.symbol }">Símbolo</span>
                </div>
                <div
                  class="password-strength-bar"
                  [style.width]="passwordStrengthProgress + '%'"
                  [ngClass]="passwordStrengthLevel">
                </div>
                <span class="password-strength-text" [ngClass]="passwordStrengthLevel">
                  {{ passwordStrengthMessage }}
                </span>
              </div>
              <div class="detail">
                <div class="label-container">
                  <i class="ri-lock-unlock-line"></i>
                  <label for="first_name">Confrmação Password</label>
                </div>
                <input type="password" placeholder="Confirme a nova password">
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="user-container-info">
      <div class="container-description">
          <p class="description-text">Informações da Empresa</p>
          <hr>
      </div>
      <div class="container-forms">
          <div class="data-detail">
              <div class="detail">
                <div class="label-container">
                  <i class="ri-building-2-line"></i>
                  <label for="name">Nome Empresa</label>
                </div>
                <input type="text" name="name" value="{{ companyObj.name }}"
                  placeholder="PadelConnect" [(ngModel)]="companyObj.name">
                  <small *ngIf="formErrors['name']" class="small-error">{{ formErrors['name'] }}</small>
              </div>
              <div class="detail">
                  <div class="label-container">
                    <i class="ri-phone-line"></i>
                    <label for="contact">Contacto</label>
                  </div>
                  <input type="text" name="contact"
                  (input)="formatContact($event)"
                  [value]="companyObj.contact === 0 ? '' : companyObj.contact"
                  maxlength="9"
                  placeholder="Sem Contacto">
                  <small *ngIf="formErrors['contact']" class="small-error">{{ formErrors['contact'] }}</small>
              </div>
            </div>
            <div class="data-detail">
              <div class="detail">
                <div class="label-container">
                    <i class="ri-home-4-line"></i>
                    <label for="addressPort">Endereço e número porta</label>
                </div>
                <input type="text" name="addressPort" value="{{ addressObj.addressPort }}"
                  [(ngModel)]="addressObj.addressPort" placeholder="Rua do Padel 20">
                <small *ngIf="formErrors['addressPort']" class="small-error">{{ formErrors['addressPort'] }}</small>
            </div>
            <div class="detail">
                <div class="label-container">
                    <i class="ri-signpost-line"></i>
                    <label for="locality">Localidade</label>
                </div>
                <input type="text" name="locality" value="{{ addressObj.locality }}"
                [(ngModel)]="addressObj.locality" placeholder="Porto">
                <small *ngIf="formErrors['locality']" class="small-error">{{ formErrors['locality'] }}</small>
            </div>
            <div class="detail">
                <div class="label-container">
                    <i class="ri-map-pin-2-line"></i>
                    <label for="postalCode">Código Postal</label>
                </div>
                <input type="text" name="postalCode" value="{{ addressObj.postalCode }}"
                  (input)="formatPostalCode($event)"  
                  [(ngModel)]="addressObj.postalCode" 
                  maxlength="8"
                  placeholder="1234-567">
                <small *ngIf="formErrors['postalCode']" class="small-error">{{ formErrors['postalCode'] }}</small>
            </div>
          </div>
        </div>
    </div>
    <div class="user-container-info">
      <div class="container-description">
          <p class="description-text">Informações Comunicação</p>
          <hr>
      </div>
      <div class="container-forms">
          <div class="data-detail">
              <div class="detail">
                  <div class="label-container">
                      <i class="ri-newspaper-line"></i>
                      <label for="newsletter">Newsletter</label>
                  </div>
                  <div class="form-group">
                    <input
                      type="checkbox"
                      id="newsletterSwitch"
                      [(ngModel)]="companyObj.newsletter"
                      name="newsletter"
                      (change)="toggleNewsletter($event)"
                      [checked]="companyObj.newsletter === 1"
                      class="input-toggle">

                    <div class="display">
                      <label class="toggle" for="newsletterSwitch">
                        <div class="circle">
                          <i class="ri-chat-off-line i off no"></i>
                          <i class="ri-chat-heart-line i on yes"></i>
                        </div>
                      </label>
                    </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="button">
      <button type="submit" (click)="create()" class="btn create">
        <i class="ri-save-line"></i>
        Registar Empresa
      </button>
    </div>
  </form>
</card-form>

