<div class="navbar" [ngClass]="{'scrolled': isScrolled, 'active': isNavbarActive}">
  <div class="icon-box">
    <a routerLink="/">
      <img src="assets/images/logos/LogoBrancoPadel_Final.png">
    </a>
  </div>

  <!-- Links da Navbar -->
  <div class="links-box" [ngClass]="{'scrolled': isScrolled, 'active': isNavbarActive}">
    <div class="links">
      <a routerLink="/" [ngClass]="{'active': isActive('/')}">
        <i class="ri-home-3-line"></i>
        <p>Home</p>
      </a>
    </div>
    <div class="links">
      <a routerLink="/courts" [ngClass]="{'active': isActive('/courts')}">
        <i class="ri-input-field"></i>
        <p>Campos</p>
      </a>
    </div>
    <div class="links">
      <a routerLink="/about-us" [ngClass]="{'active': isActive('/about-us')}">
        <i class="ri-information-line"></i>
        <p>Sobre nós</p>
      </a>
    </div>
    <div class="links">
      <a routerLink="/contact-us" [ngClass]="{'active': isActive('/contact-us')}">
        <i class="ri-customer-service-2-line"></i>
        <p>Contactos</p>
      </a>
    </div>

    <div class="btn-box">
      <a routerLink="/courts" class="btn btn-reservation">Reservar</a>
    </div>
  </div>

  <!-- Caixa de usuário -->
  <div class="user-box">
    <a routerLink="/cart">
      <i class="ri-shopping-cart-2-line"></i>
    </a>
    <a routerLink="/login">
      <i class="ri-user-line"></i>
    </a>
    <i class="ri-menu-3-line" id="menu-icon" (click)="toggleNavbar()"></i>
  </div>
</div>
