.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 2rem;
  position: fixed;
  transition: all ease 300ms;
  z-index: 1000;
}

#menu-icon {
  display: none;
  cursor: pointer;
}

.links i {
  display: none;
}

.navbar.scrolled {
  background: rgba(0, 0, 0, 0.5);
  transition: all ease 300ms;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon-box img {
  width: 50px;
  height: 50px;
}

.links-box {
  display: inline-flex;
  align-items: center;
  gap: 2rem;
  font-size: var(--font-size);
}

.links-box a {
  color: var(--color-white);
  transition: all ease 300ms;
}

.links-box a:hover {
  transform: scale(1.05);
  transition: all ease 300ms;
  color: var(--color-primary);
}

.links-box a.active {
  border-bottom: 2px solid var(--color-white);
}

.links-box a:hover.active {
  border-bottom: 2px solid var(--color-primary);
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-box .btn-reservation {
  padding: 0.5rem 2.5rem;
  background: transparent;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: 99px;
  text-align: center;
}

.btn-box .btn-reservation:hover {
  transform: scale(1.05);
  transition: all ease 300ms;
  border: 2px solid var(--color-primary);
}

.user-box {
  display: inline-flex;
  align-items: center;
  font-size: 24px;
  gap: 1rem;
}

.user-box i {
  color: var(--color-white);
}

.bx-menu {
  display: none;
}

@media (max-width: 1250px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    top: 0;
  }

  .links {
    width: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  }

  .links i {
    display: flex;
  }

  .links-box {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    gap: 5%;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all ease 300ms;
  }

  .links-box.scrolled {
    background: rgba(0, 0, 0, 0.5);
  }

  .links-box.active {
    left: 0;
  }

  .links-box a {
    margin: 1rem 0;
    font-size: 1.5rem;
    transform: translateX(-20rem);
    transition: all ease 300ms;
  }

  .links-box.active a {
    transform: translateX(0);
    transition-delay: 0.2s;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .btn.btn-reservation {
    display: none !important;
  }

  .links-box a.active {
    border-bottom: none;
  }

  .links-box a:hover.active {
    border-bottom: none;
  }
}

@media (max-width: 720px) {
  .links p {
    display: none;
  }
}
