.card-title {
  background: var(--color-white);
  border-radius: var(--border-radius-2);
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
  padding: 20px;
  transition: all ease 300ms;
}

.card-title h1 {
  font-size: var(--font-subtitle);
  color: var(--color-gray);
}

.card-title h1 span {
  color: var(--color-primary);
}
