<div class="header-content">
  <!-- mensagem -->
  <div class="welcome-message">
      <span class="material-icons-sharp menu-icon">menu</span>
      <h3>Olá, <span>{{ username }}</span></h3>
  </div>
  <!-- data e hora -->
  <div class="right-header">
      <div class="date-hour">
          <div class="date">
              <i class='bx bx-calendar-alt'></i>
              <p id="date"></p>
          </div>
          <div class="hour">
              <i class='bx bx-time-five'></i>
              <p id="hour"></p>
          </div>
      </div>
      <!-- blog e logout links -->
      <div class="home-notifications">
          <a href="#" class="home">
              <i class='bx bx-home-alt-2' ></i>
          </a>
          <a href="#" class="notifications">
              <i class='bx bx-bell'></i>
          </a>
      </div>
  </div>
</div>
