<div class="page-info-action">
    <div class="page-info">
        <title-page pageText="Definições Pessoais"></title-page>
        <p class="description-page">Aqui pode alterar as suas definições pessoais associadas ao 
            <span>Padel Connect</span>
        </p>
    </div>
</div>

<div class="settings-form">
    <form>
        <div class="user-container-info">
            <div class="container-description">
                <p class="description-text">Informações de Utilizador</p>
                <hr>
            </div>
            <div class="container-forms">
                <div class="data-detail">
                    <div class="detail">
                        <div class="label-container">
                            <i class="ri-user-3-line"></i>
                            <label for="first_name">Nome utilizador</label>
                        </div>
                        <input type="text" name="first_name" value="{{ clientObj.username }}">
                    </div>
                    <div class="detail">
                        <div class="label-container">
                            <i class="ri-fingerprint-line"></i>
                            <label for="first_name">NIF</label>
                        </div>
                        <input type="text" name="first_name" value="{{ clientObj.nif }}">
                    </div>
                    <div class="detail">
                        <div class="label-container">
                            <i class="ri-cake-2-line"></i>
                            <label for="first_name">Data Nascimento</label>
                        </div>
                        <input type="text" name="first_name" value="{{ clientObj.birthday }}">
                    </div>
                </div>
                <div class="contact-detail">
                    <div class="detail">
                        <div class="label-container">
                            <i class="ri-phone-line"></i>
                            <label for="last_name">Contacto</label>
                        </div>
                        <input type="text" name="last_name" value="{{ clientObj.contact !== 0 ? clientObj.contact : 'Não definido' }}">
                    </div>
                </div>
                <div class="contact-detail">
                    <div class="detail">
                        <div class="label-container">
                            <i class="ri-mail-line"></i>
                            <label for="last_name">Email</label>
                        </div>
                        <input type="text" name="last_name" value="{{ clientObj.email }}" disabled>
                    </div>
                </div>
            </div>
        </div>

        <div class="user-container-info">
            <div class="container-description">
                <p class="description-text">Informações Pessoais</p>
                <hr>
            </div>
            <div class="container-forms">
                <div class="data-detail">
                    <div class="detail">
                        <div class="label-container">
                            <i class="ri-user-3-line"></i>
                            <label for="first_name">Primeiro Nome</label>
                        </div>
                        <input type="text" name="first_name" value="{{ clientObj.first_name }}">
                    </div>
                    <div class="detail">
                        <div class="label-container">
                            <i class="ri-user-3-line"></i>
                            <label for="first_name">Último Nome</label>
                        </div>
                        <input type="text" name="first_name" value="{{ clientObj.last_name }}">
                    </div>
                    <div class="detail">
                        <div class="label-container">
                            <i class="ri-flag-line"></i>
                            <label for="first_name">Nacionalidade</label>
                        </div>
                        <input type="text" name="first_name" value="{{ clientObj.nationality }}">
                    </div>
                    <div class="detail">
                        <div class="label-container">
                            <i class="ri-men-line"></i>
                            <label for="first_name">Género</label>
                        </div>
                        <input type="text" name="gender" value="{{ clientObj.gender }}">
                    </div>
                </div>
                <div class="data-detail">
                    <div class="detail">
                        <div class="label-container">
                            <i class="ri-home-4-line"></i>
                            <label for="first_name">Endereço e número porta</label>
                        </div>
                        <input type="text" name="first_name" value="{{ addressObj.addressPort }}">
                    </div>
                    <div class="detail">
                        <div class="label-container">
                            <i class="ri-signpost-line"></i>
                            <label for="first_name">Localidade</label>
                        </div>
                        <input type="text" name="first_name" value="{{ addressObj.locality }}">
                    </div>
                    <div class="detail">
                        <div class="label-container">
                            <i class="ri-map-pin-2-line"></i>
                            <label for="first_name">Código Postal</label>
                        </div>
                        <input type="text" name="first_name" value="{{ addressObj.postalCode }}">
                    </div>
                </div>
            </div>
        </div>

        <div class="user-container-info">
            <div class="container-description">
                <p class="description-text">Informações Comunicação</p>
                <hr>
            </div>
            <div class="container-forms">
                <div class="data-detail">
                    <div class="detail">
                        <div class="label-container">
                            <i class="ri-newspaper-line"></i>
                            <label for="first_name">Newsletter</label>
                        </div>
                        <input type="text" name="first_name" value="{{ clientObj.newsletter }}">
                    </div>
                </div>
            </div>
        </div>

        <div class="user-container-info">
            <div class="container-description">
                <p class="description-text">Segurança conta</p>
                <hr>
            </div>
            <div class="container-forms">
                <div class="contact-detail">
                  <div class="detail">
                      <div class="label-container">
                        <i class="ri-lock-password-line"></i>
                        <label for="last_name">Password Atual</label>
                      </div>
                      <input type="password" placeholder="Insira a sua password atual">
                  </div>
                </div>
                <div class="data-detail">
                  <div class="detail">
                      <div class="label-container">
                        <i class="ri-lock-unlock-line"></i>
                        <label for="first_name">Nova Password</label>
                      </div>
                      <input type="password" placeholder="Coloque a nova password">
                  </div>
                  <div class="detail">
                    <div class="label-container">
                      <i class="ri-lock-unlock-line"></i>
                      <label for="first_name">Confrmação Nova Password</label>
                    </div>
                    <input type="password" placeholder="Confirme a nova password">
                  </div>
                </div>
            </div>
          </div>
    </form>
</div>
