<a class="links-sidebar" *ngIf="href" [routerLink]="href">
  <div class="box-icon" [ngClass]="{'active': isActive(href)}">
    <i class="{{ icon }}"></i>
  </div>
  <p class="p-sidebar"
    [ngClass]="{ minimized: isSidebarClosed }"
    *ngIf="!isSidebarClosed">{{ p }}</p>
</a>

<div *ngIf="!href" class="links-sidebar" (click)="onClick()">
  <div class="box-icon">
    <i class="{{ icon }}"></i>
  </div>
  <p class="p-sidebar" [ngClass]="{ minimized: isSidebarClosed }" *ngIf="!isSidebarClosed">{{ p }}</p>
</div>
