<title-page pageText="Empresas"></title-page>

<add-button href="/dashboard/create-company"></add-button>

<card-table>
  <div *ngIf="isLoading; else showTable">
    <p class="loading">Carregando...</p>
  </div>
  <ng-template #showTable>
    <div *ngIf="companies.length > 0; else noCompanies">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Contacto</th>
            <th>NIF</th>
            <th>Morada</th>
            <th>Campos</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let company of companies">
            <td data-cell="Nome">{{ company.name }}</td>
            <td data-cell="Email">{{ company.email }}</td>
            <td data-cell="Contacto">{{ company.contact }}</td>
            <td data-cell="NIF">{{ company.nif }}</td>
            <td data-cell="Morada">{{ company.address }}</td>
            <td data-cell="Campos">{{ company.fields_count }}</td>
            <td data-cell="Ações">
              <div class="actions">
                <i class='bx bx-show' [routerLink]="['/dashboard/company', company.id]"></i>
                <i class='bx bx-pencil' [routerLink]="['/dashboard/company', company.id, 'edit']"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</ng-template>
</card-table>

<ng-template #noCompanies>
  <p class="no-companies">Nenhuma empresa encontrada</p>
</ng-template>
