.companies {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.no-companies {
  padding-block: 2rem;
  color: var(--color-text);
  font-size: var(--font-smalls);
}

.field-count-wrapper {
  display: flex;
  justify-content: center;
  gap: .5rem;
  align-items: center;
}

