<page-top title="Carrinho"></page-top>

<main-content>
  <div class="cart-container">
      <div class="cart">
        <div class="cart-top">
          <h1 class="cart-title">Carrinho (nº de reservas)</h1>
        </div>

        <div class="reservations">
          <div class="card-reservation">
            <div class="card-left">
              <div class="card-top">
                <h2 class="name-court">Nome do campo</h2>
              </div>

              <div class="card-bottom">
                <div class="address">
                  Rua da alegria 401, 4440-700, Porto
                </div>
                <div class="date">
                  23/12/2025 9:30
                </div>
              </div>
            </div>

            <div class="card-right">
              <div class="actions">
                  <i class='bx bx-trash'></i>
              </div>
            </div>

          </div>

          <div class="card-reservation">
            <div class="card-left">
              <div class="card-top">
                <h2 class="name-court">Nome do campo</h2>
              </div>

              <div class="card-bottom">
                <div class="address">
                  Rua da alegria 401, 4440-700, Porto
                </div>
                <div class="date">
                  23/12/2025 9:30
                </div>
              </div>
            </div>

            <div class="card-right">
              <div class="actions">
                  <i class='bx bx-trash'></i>
              </div>
            </div>

          </div>

        </div>

        <div class="button-checkout">
          <button class="btn checkout">Checkout</button>
        </div>
      </div>
  </div>
</main-content>
