<div class="container">
    <div class="card">
      <div class="card-content">
        <div class="card-content-image">
          <img alt="img" src="assets/images/about/renith-r-A9VpotrPr1k-unsplash.jpg">
          <div class="card-overlay">
            <h3 class="card-content-info-title"> {{ court.name }}</h3>
          </div>
        </div>
        <div class="card-content-price">
          <div class="price">
            <span>{{ court.price_hour }} €</span>
          </div>
          <div class="icons">
            <i class='bx bx-cart'></i>
            <i class='bx bx-heart'></i>
          </div>
        </div>
        <div class="card-content-button">
          <a class="btn reserve" [routerLink]="['/court', court.id]">Reservar Campo</a>
        </div>
      </div>
    </div>
  </div>
