<page-top title="Pagamento"></page-top>

<div class="checkout">
  <h1>Finalizar Compra</h1>

  <div class="progress-bar">
    <div class="step" [ngClass]="{'active': step >= 1}">
      <div class="circle">1</div>
      <p>Dados Cliente</p>
    </div>
    <div class="step" [ngClass]="{'active': step >= 2}">
      <div class="circle">2</div>
      <p>Método de Pagamento</p>
    </div>
    <div class="step" [ngClass]="{'active': step >= 3}">
      <div class="circle">3</div>
      <p>Confirmação</p>
    </div>
  </div>

  <!-- Formulário Dados Cliente -->
  <form #customerForm="ngForm" *ngIf="step === 1" (ngSubmit)="nextStep($event, customerForm)" novalidate>
    <h2>Dados do Cliente:</h2>
    <div class="div-form-group">
      <div class="form-group">
        <input
          type="text"
          id="name" 
          name="name" 
          [(ngModel)]="clientObj.name"
          placeholder="Nome"
          required minlength="3">
        <input
          type="date"
          id="dob" 
          name="dob" 
          [(ngModel)]="clientObj.birthday"
          required
          [max]="maxDate"
          placeholder="Data de Nascimento">
      </div>
      <div class="form-group">
        <input
          type="tel"
          id="contact" 
          name="contact" 
          [(ngModel)]="clientObj.contact"
          placeholder="Contacto"
          required
          maxlength="9"
          pattern="[0-9]{9}"
          title="Número de telemóvel deve ter 9 dígitos"
          (input)="validatePhoneNumber($event)">
        <input
          type="text"
          name="nif"
          id="nif"
          [(ngModel)]="clientObj.nif"
          placeholder="NIF"
          required
          maxlength="9"
          pattern="[0-9]{9}"
          title="NIF deve ter 9 dígitos"
          (input)="validateNif($event)">
      </div>
    </div>

    <button
      type="button"
      (click)="nextStep($event, customerForm)"
    >
      Confirmar Dados
    </button>
  </form>
<!---->

<!---->
  <!-- Formulário Dados de Pagamento -->
  <form #customerForm="ngForm" *ngIf="step === 2" (ngSubmit)="nextStep($event, customerForm)"  novalidate class="payment-container">
    <h2>Dados de Pagamento:</h2>
  
    <!-- Seção de seleção do cartão -->
    <div [(ngModel)]="paymentDetails.paymentMethod" class="card-selection">
      <label class="card-option" for="mastercard1">
        <input
          type="radio"
          id="mastercard1"
          name="paymentMethod"  
          value="creditCard"
          required
          [(ngModel)]="selectedOption"
          >
        <div class="box">
          <i class='bx bxs-credit-card'></i>
          <span>Cartão de Crédito</span>
        </div>
      </label>
    
      <label class="card-option" for="cash">
        <input
          type="radio"
          id="cash"
          name="paymentMethod"  
          value="cash"
          required
          [(ngModel)]="selectedOption"
          >
        <div class="box">
          <i class='bx bx-money'></i>
          <span>Dinheiro</span>
        </div>
      </label>
    </div>

     <!-- Mensagem quando o pagamento com cartão de crédito não estiver disponível -->
  <div *ngIf="selectedOption === 'creditCard'" class="payment-message">
    <p class="warning-text">Este método de pagamento ainda não está disponível.</p>
    <br>
  </div>

  <!-- Mensagem quando o pagamento com dinheiro for selecionado -->
  <div *ngIf="selectedOption === 'cash'" class="payment-message">
    <p class="info-text">O pagamento será efetuado no ato.</p>
  </div>

    <!-- Formulário de pagamento -->
    <div class="payment-form"  *ngIf="selectedOption === 'creditCard'">
      <div class="input-group full-width" >
        <input
          type="text"
          name="cardNumber" 
          id="cardNumber"
          ngModel placeholder="Número do Cartão"
          disabled="true"
          maxlength="19"
          (input)="formatCardNumber($event)"
          pattern="\d{4}-\d{4}-\d{4}-\d{4}"
          title="Número do cartão deve ter 16 dígitos no formato XXXX-XXXX-XXXX-XXXX">
      </div>
      <div class="input-group third-width">
        <input
          type="text"
          name="cardholderName"
          id = "cardholderName"
          disabled="true"
          placeholder="Nome Titular"
         >
      </div>
      <div class="input-group third-width">
        <input
          type="text"
          name="cvv"
          id="cvv"
          ngModel placeholder="CVV"
          disabled="true"
          pattern="\d{3}"
          title="CVV deve ter 3 dígitos"
          (input)="validateCVV($event)">
      </div>
      <div class="input-group third-width">
        <input
          type="text"
          name="expiryDate"
          id="expiryDate"
          ngModel
          placeholder="Mês/Ano"
          disabled="true"
          maxlength="5"
          (input)="formatExpiryDate($event)"
          pattern="\d{2}/\d{2}"
          title="Data de validade deve ser no formato MM/AA">
      </div>
    </div>

    <!-- Exibindo os itens do carrinho -->
    <div class="total-section">
      <div *ngFor="let item of cartItems" class="section-things">
        <p>{{ item.name }} ({{ item.totalHours }} horas)</p>
        <p [(ngModel)]="paymentDetails.totalAmount">{{ item.pricePerHour }} €</p>
      </div>

      <!-- Exibindo o preço total -->
      <div class="section-total-price">
        <p class="text-payment">Total:</p>
        <p ><strong>{{ totalPrice }} €</strong></p>
      </div>
    </div>

    <button (click)="nextStep($event, customerForm)" class="confirm-btn" type="submit">Confirmar Pagamento</button>
  </form>

  <!-- Confirmado com Sucesso -->
  <div class="confirmation" *ngIf="step === 3">
    <h2 class="confimation-message">Confirmado com Sucesso !</h2>
    <p class="confimation-resume">Obrigado pela sua reserva.</p>
    <button (click)="finalizePayment()">Finalizar</button>
  </div>

  <!-- Popup de Avaliação -->
  <div class="popup" *ngIf="showRatingPopup">
    <div class="popup-content">
      <h3>Avalie a sua reserva</h3>
      <p>O que achou da sua experiência?</p>

      <div class="rating-stars">
        <span (click)="rate(1)">&#9733;</span>
        <span (click)="rate(2)">&#9733;</span>
        <span (click)="rate(3)">&#9733;</span>
        <span (click)="rate(4)">&#9733;</span>
        <span (click)="rate(5)">&#9733;</span>
      </div>

      <textarea placeholder="Deixe o seu feedback" [(ngModel)]="feedback"></textarea>
      <div class="popup-buttons">
        <button class="btn-feed" (click)="submitRating()">Enviar Avaliação</button>
        <button class="btn-feed" (click)="closePopup()">Fechar</button>
      </div>
    </div>
  </div>
</div>
