/* =============================
   DASHBOARD
   ============================= */
   .all-cards {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.card {
    background: var(--color-white);
    border-radius: var(--border-radius-2);
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: all ease 300ms;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card.reservations,
.card.courts,
.card.promotions,
.card.customers {
    height: 240px;
    padding: 1.5rem;
}

.counts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.card-row {
  display: inline-flex;
  gap: 1rem;
}

.progress-title {
  width: 20%;
  display: inline-flex;
  justify-content: center;
}
.progress-title p {
  color: var(--color-text);
  font-size: var(--font-smalls);
}

.progress-container {
  position: relative;
  width: 100%;
  height: 20px;
}

.progress-value {
  position: absolute;
  top: 70%;
  left: 10%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  pointer-events: none;
}

.progress-bar {
  border-radius: 99px;
  background: var(--color-light-grey);
  width: 80%;
  height: 30px;
}

.progress-fill {
  width: 100%;
  height: 30px;
  border-radius: 99px;
}

.progress-fill.t {
  background: var(--color-success);
}

.progress-fill.i {
  background: var(--color-blue-2);
}

.progress-fill.o {
  background: var(--color-yellow);
}

.progress-fill.clients {
  background: var(--color-orange);
}

.progress-fill.companys {
  background: var(--color-blue-3);
}

.progress-fill.pending {
  background: rgba(255, 165, 0, 0.5);
}

.progress-fill.cancellations {
  background: rgba(241, 16, 16, 0.5);
}

.card-row {
  display: inline-flex;
}

.card-title {
    display: flex;
    gap: 2rem;
    color: var(--color-gray);
    align-items: center;
}

.card-title span {
    border-radius: var(--border-radius-1);
    color: var(--color-white);
    padding: 0.5rem;
}

.card-title.reservations span {
    background: var(--color-yellow);
}

.card-title.courts span{
    background: var(--color-success);
}

.card-title.promotions  span{
    background: var(--color-blue-2);
}

.card-title.customers span {
    background: var(--color-blue-1);
}

.card-title.statistics span {
    background: var(--color-warning);
}

a {
  color: var(--color-gray);
}

@media screen and (max-width: 1250px) {
  .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      width: 100%;
  }
}

@media screen and (max-width: 674px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
