/* =============================
   TITLE AND COURTS
   ============================= */
.divPrincipal {
  display: flex;
  background:
  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('../../../../assets/images/home/home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.middlePageMenu{
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 100%;
}

.numCourts{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform: rotate(270deg);
  gap: 4rem;
}

.numCourts h3{
  color: var(--color-warning);
  font-size: 2rem;
  text-align: center;
}

.numCourts p{
  color: var(--color-white);
  font-size: 1rem;
  text-align: center;
}

.courts{
  font-weight: 500;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 25rem;
  align-items: center;
  width: 70%;
  color: var(--color-white);
  text-align: center;
  color: var(--color-white);
  text-align: center;
}

.title h1{
  font-size: var(--font-title);
}

.title p{
  font-size: var(--font-subtitle);
}

.mouseIcon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

.mouseIcon i {
  font-size: 2rem;
  color: var(--color-white);
}

/* =============================
   ABOUT US
   ============================= */

   .block-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10rem;
  }

  .left-column {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 600px;
  }

  .left-column .block-2-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
  }

  .left-column .block-2-img.second {
    transform: translateY(50%) translateX(-50%);
  }

  .right-column {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 4rem;
    height: 600px;
  }

  .right-column .block-title {
    color: var(--color-primary);
  }

  .right-column .block-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
  }

  .right-column .block-text .text {
    font-size: var(--font-size);
    color: var(--color-gray);
  }

  .btn.about-us {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
      padding: 0.8rem 2rem;
      font-size: 1rem;
      font-weight: 500;
      border-radius: 0.5rem;
      background-color: var(--color-primary);
      color: var(--color-white);
      border: none;
      cursor: pointer;
      width: 10rem;
  }

/* =============================
   SERVICES
   ============================= */
.servicesSection {
  display: flex;
  flex-direction: column;
  background:
  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('../../../../assets/images/home/home.jpg');
  background-size: cover;
  width: 100%;
}

.contentService {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 15rem;
}

.contentService h2 {
  font-size: 3rem;
  color: var(--color-white);
  margin-bottom: 10px;
  width: 70%;
  /* margin-left: 5rem; */
}

.contentService p {
  font-size: 1.2rem;
  max-width: 600px;
  line-height: 1.5;
  margin-bottom: 5rem;
  color: var(--color-white);
}

.titleService {
  display: inline-flex;
}

.iconService {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  flex-wrap: wrap;
  padding-bottom: 13rem;
}

.iconService div {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconService i {
  font-size: 4.5rem;
  color: var(--color-primary);

}

.iconService h3 {
  font-size: 1.4rem;
  margin-top: 10px;
  color: var(--color-white);
  width: 70%;
  text-align: center;
  margin-top: 1.2rem;
  font-weight: 400;
}

.service-courts-div {
  width: 100%;
}

/* =============================
   MEDIA QUERY HEADER
   ============================= */

   @media screen and (max-width: 1362px) {
    .titleSlogan h1 {
      font-size: 3.5rem;
    }
  
    .titleSlogan p {
      font-size: 1rem;
    }
  
    .menu {
      font-size: 1rem;
    }
  
    .menu button {
      font-size: 1rem;
    }
  
    .numCourts h3 {
      font-size: 1.5rem;
    }
    
    .numCourts p {
      font-size: 1rem;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .middlePageMenu {
      height: 90vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: auto;
      text-align: center;
    }
  
    .title {
      width: 100%;
      margin: auto;
      text-align: center;
      align-items: center;
      transform: translateY(-400px);
      transition: all ease 400ms;
    }
  
    .titleSlogan h1 {
      font-size: 2rem !important;
      color: var(--color-white);
    }
  
    .titleSlogan p {
      font-size: 1rem;
      color: var(--color-white);
    }
  
    .menu button {
      font-size: 1rem;
    }
  
    .numCourts {
      width: 100%;
      display: flex;
      flex-direction: row;
      transform: translateY(300px);
      transition: transform ease 700ms;
    }
  
    .numCourts h3 {
      color: var(--color-warning);
      font-size: 1.8rem;
      text-align: center;
    }
  
    .numCourts p {
      color: var(--color-white);
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .menu {
      display: none;
    }
  
    .courts {
      width: 10%;
    }
  }
  
  /* =============================
     ABOUT US MEDIA QUERY
     ============================= */
  
     @media screen and (max-width: 1000px) {
      .block-2 {
        flex-direction: column;
        padding: 0 2rem;
      }
    
      .left-column {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
      }
      
      .left-column .block-2-img {
        display: none;
      }
      
      .right-column {
        width: 100%;
        align-items: center;
        justify-content: center;
        height: auto;
      }
      
      .right-column .block-title {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
      }
      
      .right-column .block-text .text {
        font-size: 1rem;
        color: var(--color-gray);
        text-align: center;
      }
      
      .btn.about-us {
        width: 12rem;
        margin: auto;
        margin-top: 1.5rem;
      }
    }
  /* =============================
     SERVICES MEDIA QUERY
     ============================= */
  
     @media screen and (max-width: 1000px) {
      .servicesSection {
        padding: 2rem 1rem; /* Reduzindo o espaçamento interno */
      }
    
      .contentService {
        flex-direction: column;
        align-items: center; /* Centralizando os itens na coluna */
        padding-top: 5rem;
      }
    
      .contentService h2 {
        font-size: 2.5rem; /* Reduzindo o tamanho da fonte para se ajustar melhor */
        text-align: center;
        width: 100%; /* Garantindo que o título ocupe toda a largura disponível */
      }
    
      .contentService p {
        font-size: 1rem; /* Reduzindo o tamanho da fonte do parágrafo */
        text-align: center;
        width: 100%; /* Aumentando a largura do texto para 90% para melhor visualização */
      }
    
      .titleService {
        text-align: center; /* Centralizando o título */
        width: 100%;
      }
    
      .iconService {
        margin-top: 2rem;
        justify-content: center; /* Centralizando os ícones */
        padding-bottom: 5rem; /* Ajustando o espaçamento inferior */
      }
    
      .iconService div {
        width: 45%; /* Ajustando a largura dos ícones para se ajustarem melhor em telas pequenas */
        margin-bottom: 2rem;
      }
    
      .iconService i {
        font-size: 3rem; /* Reduzindo o tamanho dos ícones */
      }
    
      .iconService h3 {
        font-size: 1.2rem; /* Reduzindo o tamanho do título abaixo de cada ícone */
      }
    }

    @media screen and (max-width: 600px) {
      /* Ajuste para exibir os ícones em coluna */
      .iconService {
        flex-direction: column; /* Alinha todos os ícones na coluna */
        justify-content: flex-start; /* Coloca os ícones no topo da coluna */
        align-items: center;

      }
    
      .iconService div {
        width: 100%; /* Garantindo que cada ícone ocupe a largura inteira */
        margin-bottom: 2rem;
      }
    }