<modal></modal>

<page-top title="{{ courtObj.name }}"></page-top>

<div class="container">
    <div class="card-image">
        <div class="card-content-image">
            <img src="assets/images/slideshow/1.jpg" alt="img" class="campo-img">
        </div>
    </div>

    <div class="card-container-info--">
    <!-- Informações do Campo -->
      <div class="card-content-info">
        <div class="first-info">
          <h2 class="info-title">{{ courtObj.name }}</h2>
          <p class="card-content-address">{{ address }}</p>
        </div>

        <div class="second-info">
              <h2 class="info-title">Informações</h2>
              <div class="info-box">
                <div class="sub-info">
                  <h4 class="title-info">Tipo de chão</h4>
                  <div *ngIf="courtObj.illumination === 1" class="service success">
                    <i class="ri-lightbulb-flash-line"></i>
                    <p>Com Iluminação</p>
                  </div>
                  <div *ngIf="courtObj.illumination === 0" class="service danger">
                    <i class="ri-lightbulb-line"></i>
                    <p>Sem Iluminação</p>
                  </div>
                </div>

                <div class="sub-info">
                  <h4 class="title-info">Cobertura</h4>
                  <div *ngIf="courtObj.cover === 1" class="service success">
                    <i class="ri-building-2-line"></i>
                    <p>Interior</p>
                  </div>
                  <div *ngIf="courtObj.cover === 0" class="service danger">
                    <i class="ri-tree-line"></i>
                    <p>Exterior</p>
                  </div>
                </div>

                <div class="sub-info">
                  <h4 class="title-info">Estado</h4>
                  <div *ngIf="courtObj.status === 'Disponivel'" class="service success">
                    <i class="ri-checkbox-circle-line"></i>
                    <p>Disponível</p>
                  </div>
                  <div *ngIf="courtObj.status === 'Indisponivel'" class="service danger">
                    <i class="ri-close-circle-line"></i>
                    <p>Indisponível</p>
                  </div>
                </div>
              </div>
        </div>

        <div class="reservation">
          <h2 class="info-title">Reservar</h2>
          <div class="inputs-container">

            <div class="input-box">
              <h4 class="title-info" for="startDate">Data de Início:</h4>
              <input
                id="startDate"
                type="datetime-local"
                [(ngModel)]="startDate"
                (change)="calculatePrice()"
                [min]="today"/>
            </div>

            <div class="input-box">
              <h4 class="title-info" for="endDate">Data de Fim:</h4>
              <input
                id="endDate"
                type="datetime-local"
                [(ngModel)]="endDate"
                (change)="calculatePrice()"
                [min]="startDate || today"/>
            </div>

          </div>

          <div class="card-content-price">
            <div class="price">
                <span>{{ courtObj.price_hour }} € por hora</span>
            </div>
            <div class="card-content-button">
                <a class="btn reserve" (click)="addToCart()">Adicionar ao carrinho</a>
            </div>
        </div>
      </div>
     </div>

    </div>

    <div class="divider"></div>

    <div class="card-content-main">
      <div class="schedule">
          <h2 class="info-title">Horário</h2>
          <div class="schedule-info">

            <div class="week-day" *ngIf="schedules.weekdays && schedules.weekdays.length">
              <h4 class="title-info">Segunda a Sexta</h4>
              <div  class="tooltip">
                <i class="ri-door-open-line"></i>
                <div class="schedule-hour">
                  {{ schedules.weekdays[0].opening_time }} - {{ schedules.weekdays[0].closing_time }}
                </div>
                <span class="tooltip-text">Aberto</span>
              </div>
            </div>

            <div class="week-day" *ngIf="schedules.saturday?.is_closed == 0">
              <h4 class="title-info">Sábado</h4>
              <div  class="tooltip">
                <i class="ri-door-closed-line"></i>
                <div class="schedule-hour">
                  {{ schedules.saturday.opening_time }} - {{ schedules.saturday.closing_time }}
                </div>
                <span class="tooltip-text">Aberto</span>
              </div>
            </div>

            <div class="week-day" *ngIf="schedules.saturday?.is_closed == 1">
              <h4 class="title-info">Sábado</h4>
              <div  class="tooltip">
                <i class="ri-door-closed-line"></i>
                <div class="schedule-hour">
                  Fechado
                </div>
                <span class="tooltip-text">Fechado ao sábado</span>
              </div>
            </div>

            <div class="week-day" *ngIf="schedules.sunday?.is_closed == 0">
              <h4 class="title-info">Domingo</h4>
              <div  class="tooltip">
                <i class="ri-door-open-line"></i>
                <div class="schedule-hour">
                  {{ schedules.sunday.opening_time }} - {{ schedules.sunday.closing_time }}
                </div>
                <span class="tooltip-text">Aberto</span>
              </div>
            </div>

            <div class="week-day" *ngIf="schedules.sunday?.is_closed == 1">
              <h4 class="title-info">Domingo</h4>
              <div  class="tooltip">
                <i class="ri-door-open-line"></i>
                <div class="schedule-hour">
                  Fechado
                </div>
                <span class="tooltip-text">Fechado ao domingo</span>
              </div>
            </div>

          </div>
      </div>

      <div class="additional-services">
        <h2 class="info-title">Serviços Adicionais</h2>
          <div class="services-icons">

            <div class="services">
              <div *ngIf="courtObj.lockers === 1" class="service success">
                <i class="ri-lock-line"></i>
                <span class="tooltip-text">Com Cacifo</span>
              </div>
              <div *ngIf="courtObj.lockers === 0" class="service danger">
                <i class="ri-lock-unlock-line"></i>
                <span class="tooltip-text">Sem Cacifo</span>
              </div>
            </div>

            <div class="services">
              <div *ngIf="courtObj.rent_equipment === 1" class="service success">
                <i class="ri-checkbox-circle-line"></i>
                <span class="tooltip-text">Com Aluger equipamento</span>
              </div>
              <div *ngIf="courtObj.rent_equipment === 0" class="service danger">
                <i class="ri-prohibited-2-line"></i>
                <span class="tooltip-text">Sem Aluguer equipamento</span>
              </div>
            </div>

            <div class="services">
              <div *ngIf="courtObj.shower_room === 1" class="service success">
                <i class="ri-drop-line"></i>
                <span class="tooltip-text">Com Balneário</span>
              </div>
              <div *ngIf="courtObj.shower_room === 0" class="service danger">
                <i class="ri-blur-off-line"></i>
                <span class="tooltip-text">Sem Balneário</span>
              </div>
            </div>

          </div>
      </div>
    </div>
</div>

