<div class="main-content">
  <div class="divPrincipal">
    <div class="middlePageMenu">
        <div class="numCourts">
            <div class="courts courtsPrincipal">
                <h3>100</h3>
                <p>CAMPOS</p>
            </div>
            <div class="courts courtsIndoor">
                <h3>70</h3>
                <p>CAMPOS INDOOR</p>
            </div>
            <div class="courts courtsOutdoor">
                <h3>30</h3>
                <p>CAMPOS OUTDOOR</p>
            </div>
        </div>
        <div class="title">
              <h1>Padel Connect</h1>
              <p>Melhores campos do país estão aqui</p>
      </div>
        <div class="mouseIcon">
              <i class="material-icons-sharp">mouse</i>
          </div>
    </div>
  </div>

  <div class="block-2 animated">
    <div class="left-column">
      <img src="assets/images/about/renith-r-A9VpotrPr1k-unsplash.jpg" class="block-2-img animated">

        <img src="assets/images/about/renith-r-A9VpotrPr1k-unsplash.jpg"
            class="block-2-img second animated">
    </div>

    <div class="right-column animated">
        <div class="block-title">
            <h1>Sobre nós</h1>
        </div>
        <div class="block-text">
            <div class="text animated">
                <p>Padel Connect é uma empresa que tem como objetivo conectar jogadores de padel com os melhores campos do país.
                    Nossa missão é proporcionar a melhor experiência para os jogadores, oferecendo os melhores campos,
                    com a melhor infraestrutura e com a melhor localização.
                </p>
            </div>
            <div class="text">
                <p>
                    Padel Connect é uma empresa que tem como objetivo conectar jogadores de padel com os melhores campos do país.
                    Nossa missão é proporcionar a melhor experiência para os jogadores, oferecendo os melhores campos,
                    com a melhor infraestrutura e com a melhor localização.
                </p>
                <a href="/about-us" class="btn about-us">Saiba mais</a>
            </div>
        </div>
    </div>
    </div>

    <div class="servicesSection animated">
      <div class="contentService animated">
          <div class="titleService">
              <h2>Conheça os nossos serviços</h2>
          </div>
          <div class="paragraphService">
              <p>Oferecemos os melhores campos de padel do país, com a melhor infraestrutura e localização.
                  Além disso, oferecemos aulas de padel para todos os níveis de jogadores, desde iniciantes até avançados.
                  Venha jogar conosco e se divertir com os seus amigos!</p>
          </div>
      </div>
      <div class="iconService animated">
          <div class="iconCourts animated">
              <i class='bx bx-tennis-ball'></i>
              <h3>Aluguer de Campos</h3>
          </div>
          <div class="iconCourts animated">
              <i class='bx bx-user' ></i>
              <h3>Aulas de Padel</h3>
          </div>
          <div class="iconCourts animated">
              <i class='bx bx-calendar-alt' ></i>
              <h3>Eventos Privados</h3>
          </div>
          <div class="iconCourts animated">
              <i class='bx bx-group'></i>
              <h3>Jogos de Grupos</h3>
          </div>
      </div>
  </div>

  <div class="custom-grid">
    <div class="textSlider">
      <h2>Campos com melhor avaliação</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam aut ad obcaecati sed ullam.</p>
    </div>
    <div class="wrapper">
      <i id="left" class='bx bx-left-arrow-alt'></i>
      <div class="carousel">
        <a href="">
          <img src="assets/images/slideshow/1.jpg" alt="Campo 1">
          <div class="borderSlider">
            <h3>Nome do Campo</h3>
            <p>Rating</p>
          </div>
        </a>
        <a href="">
          <img src="assets/images/slideshow/2.jpg" alt="Campo 2">
          <div class="borderSlider">
            <h3>Nome do Campo</h3>
            <p>Rating</p>
          </div>
        </a>
        <a href="">
          <img src="assets/images/slideshow/3.jpg" alt="Campo 3">
          <div class="borderSlider">
            <h3>Nome do Campo</h3>
            <p>Rating</p>
          </div>
        </a>
        <a href="">
          <img src="assets/images/slideshow/4.jpg" alt="Campo 4">
          <div class="borderSlider">
            <h3>Nome do Campo</h3>
            <p>Rating</p>
          </div>
        </a>
        <a href="">
          <img src="assets/images/slideshow/5.jpg" alt="Campo 5">
          <div class="borderSlider">
            <h3>Nome do Campo</h3>
            <p>Rating</p>
          </div>
        </a>
        <a href="">
          <img src="assets/images/slideshow/6.jpg" alt="Campo 6">
          <div class="borderSlider">
            <h3>Nome do Campo</h3>
            <p>Rating</p>
          </div>
        </a>
        <a href="">
          <img src="assets/images/slideshow/7.jpg" alt="Campo 7">
          <div class="borderSlider">
            <h3>Nome do Campo</h3>
            <p>Rating</p>
          </div>
        </a>
        <a href="">
          <img src="assets/images/slideshow/7.jpg" alt="Campo 8">
          <div class="borderSlider">
            <h3>Nome do Campo</h3>
            <p>Rating</p>
          </div>
        </a>
      </div>
      <i id="right" class='bx bx-right-arrow-alt'></i>
    </div>
  </div>
</div>

