<div class="page-info-action">
    <div class="page-info">
      <title-page pageText="Lista de Promoções"></title-page>
      <p class="description-page">Esta lista apresenta todas as promoções disponíveis
        associadas ao <span>Padel Connect</span>
      </p>
    </div>
    <div class="page-action">
      <add-button  href="/dashboard/create-promotion"></add-button>
    </div>
</div>

<div *ngIf="isLoading; else showPromotion" class="loading-screen">
  <div class="spinner"></div>
  <p class="loading">A carregar a lista de promoções, por favor aguarde ...</p>
</div>

<ng-template #showPromotion>
  <div *ngIf="promotions.length > 0; else noPromotions">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th class="left">Descrição</th>
            <th class="left">Código</th>
            <th class="middle">Desconto</th>
            <th class="middle">Visibilidade</th>
            <th class="middle">Inicio Promoção</th>
            <th class="middle">Fim Promoção</th>
            <th class="middle">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let promotion of promotions">
            <td data-cell="Descrição" class="left">{{ promotion?.description }}</td>
            <td data-cell="Código" class="left">{{ promotion?.promo_code }}</td>
            <td data-cell="Desconto" class="middle">{{ promotion?.discount }}%</td>
            <td data-cell="Visibilidade" class="middle services">
              <div *ngIf="promotion?.active === 1" class="tooltip">
                <i class="ri-eye-2-line" (click)="toggleVisibility(promotion, $event)"></i>
                <span class="tooltip-text">Visível</span>
              </div>
              <div *ngIf="promotion?.active === 0" class="tooltip">
                <i class="ri-eye-close-line" (click)="toggleVisibility(promotion, $event)"></i>
                <span class="tooltip-text">Não visível</span>
              </div>
              <div *ngIf="promotion?.for_new_users === 1" class="tooltip">
                <i class="ri-user-add-line" (click)="toggleNewUserStatus(promotion, $event)"></i>
                <span class="tooltip-text">Novos Utilizadores: Sim</span>
              </div>
              <div *ngIf="promotion?.for_new_users === 0 && promotion.generic === 0" class="tooltip">
                <i class="ri-user-add-line not-active" (click)="toggleNewUserStatus(promotion, $event)"></i>
                <span class="tooltip-text">Novos Utilizadores: Não</span>
              </div>
              <div *ngIf="promotion?.for_inactive_users === 1" class="tooltip">
                <i class="ri-user-forbid-line" (click)="toggleInactiveUserStatus(promotion, $event)"></i>
                <span class="tooltip-text">Utilizadores Inativos: Sim</span>
              </div>
              <div *ngIf="promotion?.for_inactive_users === 0 && promotion.generic === 0" class="tooltip">
                <i class="ri-user-forbid-line not-active" (click)="toggleInactiveUserStatus(promotion, $event)"></i>
                <span class="tooltip-text">Utilizadores Inativos: Não</span>
              </div>
              <div *ngIf="promotion?.generic === 1" class="tooltip">
                <i class="ri-global-line" (click)="toggleVisibility(promotion, $event)"></i>
                <span class="tooltip-text">Genérica</span>
              </div>
            </td>
            <td data-cell="Início Promoção" class="middle">{{ promotion?.start_date }}</td>
            <td data-cell="Fim Promoção" class="middle">{{ promotion?.end_date }}</td>
            <td data-cell="Ações" class="middle">
              <div class="actions">
                <div class="tooltip">
                  <i class='ri-edit-line' [routerLink]="['/dashboard/promotion', promotion?.id]"></i>
                  <span class="tooltip-text">Editar</span>
                </div>
                <div class="tooltip">
                <form method="post"  (submit)="deletePromotion(promotion?.id, $event)">
                  <button type="submit">
                    <i class="ri-delete-bin-2-line"></i>
                    <span class="tooltip-text">Apagar</span>
                  </button>
                </form>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<ng-template #noPromotions>
  <p class="no-promotions">Não existe nenhuma promoção de momento</p>
</ng-template>
